-# Edit Work
= link_to edit_work_path(w), :rel => "tooltip", :title => "Edit Work" do
  %i.icon-pencil

-# Preview Work
= link_to w, :rel => "tooltip", :title => "Preview Work" do
  %i.icon-eye-open
  
- if w.status == WORK_APPROVED || w.status == WORK_RUNNING
  -# Cancel Work
  = link_to cancel_work_path(w), :rel => "tooltip", :title => "Cancel Work", |
    confirm: "You are about to cancel this work. Are you sure?" do
    %i.icon-remove-circle
- else
  -# Remove the work
  = link_to w, :rel => "tooltip", :title => "Remove Work", method: :delete, |
    confirm: "You are about to delete this work. Are you sure?" do          |
    %i.icon-remove

