-# Edit Work
= link_to edit_work_path(w), :rel => "tooltip", :title => "Edit Work" do
  %i.icon-pencil

-# Preview Work
= link_to w, :rel => "tooltip", :title => "Preview Work" do
  %i.icon-eye-open

-# Remove Work
= link_to w, :rel => "tooltip", :title => "Remove Work", method: :delete, |
  confirm: "You are about to delete this work. Are you sure?" do          |
  %i.icon-remove
