
-# Post an update
= link_to new_work_update_path(w), :rel => "tooltip", :title => "Preview Work" do
  %i.icon-comment

-# Preview the work
= link_to w, :rel => "tooltip", :title => "Preview Work" do
  %i.icon-eye-open

-# Cancel the work
= link_to cancel_work_path(w), :rel => "tooltip", :title => "Cancel Work", | 
  confirm: "You are about to cancel this work. Are you sure?" do
  %i.icon-remove-circle
