-# Preview the work
= link_to w, :rel => "tooltip", :title => "Preview Work" do
  %i.icon-eye-open

-# Remove the work
= link_to w, :rel => "tooltip", :title => "Remove Work", |
  method: :delete, confirm: "You sure?" do               |
  %i.icon-remove

