-# Preview Work
= link_to w, :rel => "tooltip", :title => "Preview Work" do
  %i.icon-eye-open

-# Comment / Post an update 
%i.icon-comment

-# Download list of patrons and their patronage
%i.icon-download-alt

