.container-background-dashboard
  .works-header
    %header#overview.jumbotron.subhead
      .header-content
        - if !current_user.admin?
          %h1 Works Dashboard
          %p.lead A list of all your works and their status
        - else
          %h1 One ring to rule them all
          %p.lead Welcome to the admin page!
.container
  .dashboard-alerts
    - flash.each do |key, msg|
      .alert.alert-block
        %p= msg
  .container-content-dashboard
    .dashboard
      - if !@works.empty?
        %table#dashboard-works.table.tablesorter
          %thead
            %tr
              %th Work
              %th Status
              %th Time Left
              %th Funded
              %th Actions
          %tbody
            - @works.each do |w|
              %tr
                %td= link_to w.name, w
                - case w.status
                - when WORK_SAVED
                  %td.work-saved.work-status Saved
                - when WORK_SUBMITTED
                  %td.work-submitted.work-status Submitted
                - when WORK_APPROVED
                  %td.work-running.work-status Approved
                - when WORK_RUNNING
                  %td.work-running.work-status Running
                - when WORK_SUCCESSFUL
                  %td.work-successful.work-status Successful
                - when WORK_UNSUCCESSFUL
                  %td.work-failed.work-status Unsuccessful
                - when WORK_CANCELLED
                  %td.work-cancelled.work-status Cancelled
                - when WORK_REJECTED
                  %td.work-rejected.work-status Rejected
                %td.work-time-na N/A
                %td.work-progress-na N/A
                %td
                  - if !current_user.admin?
                    - case w.status
                    - when WORK_SAVED
                      = render 'saved', :w => w
                    - when WORK_SUBMITTED
                      = render 'submitted', :w => w
                    - when WORK_APPROVED
                      = render 'running', :w => w
                    - when WORK_RUNNING
                      = render 'running', :w => w
                    - when WORK_SUCCESSFUL
                      = render 'successful', :w => w
                    - when WORK_UNSUCCESSFUL
                      = render 'unsuccessful', :w => w
                    - when WORK_CANCELLED
                      = render 'cancelled', :w => w
                    - when WORK_REJECTED
                      = render 'unsuccessful', :w => w
                  - else
                    = render 'admin', :w => w
      - else
        .empty-pane
          %p Seems quiet in here... *Chirp Chirp Chirp*