.container-background-home
  .container
    .works-header
      %header{:class => "jumbotron subhead", :id => "overview"}
        .header-content
          %h1 Frequently Asked Questions

.container
  .container-policy
    .row-section
      %h1 General Overview
      %p
        %h3 What is Patronhood?

        Patronhood is a modern city-building platform. We believe everyone - regardless of education level, work experience, financial standing, or political clout - should have a shot at improving his/her neighborhood.

        We focus specifically on helping Creators raise funding for Works on the ground in neighborhoods, and utilize all or nothing reward-based crowdfunding to make them a reality. We know, that was a lot of jargon, but you can read below to get a better understanding.

      %p
        %h3 What are "Patrons"?

        Patrons are the backers of Works, and come from all over the world to improve neighborhoods everywhere.

      %p
        %h3 What are "Creators"?

        Creators are the people behind Works. They submit ideas to Patronhood for review, and if they look good, they are posted on the site for Patrons to fund.

      %p
        %h3 What are "Works"?

        Works are the ideas that people have to change their neighborhood. We call them Works because they resemble “public works,” and relay the effort of Patrons and Creators to improve their neighborhood.

        Examples of works include parks, playgrounds, schools, libraries, street signs, community gardens, concert venues, public art, outdoor festivals, museum exhibitions, street art, street lamps, sidewalks, bike lanes, bus stops, subway lines, bridges, buildings, and cities (yes, really - we believe in a new way of approaching city building).

      %p
        %h3 How can I start a Work?
        
        Simply fill out the 
        = link_to "Work Submission Form", new_work_path
        (you’ll have to create a login so you can keep track of it), and we’ll review it. If it fits within our Works Code, we’ll post it on the site.

    .row-section
      %h1 Crowdfunding and City-Building

      %p 
        %h3 Why would Patrons fund a Work?

        In many cases, Patrons are the neighbors who live near the work, and enjoy the fact that they’ll help create a lasting improvement close to home. Other times, Patrons live far away but are happy to contribute to Works around the world, and may visit them when on vacation or travel. Some Patrons also contribute to receive the keepsakes associated with each Work.

      %p
        %h3 What's "reward-based all-or-nothing crowdfunding"?

        Each Work on Patronhood has a funding goal. The Work is only successful, and money is only transferred, when the Work meets its funding goal. Patrons choose from three funding levels to give money, and in return receive a keepsake associated with that level, like a t-shirt, photograph, or other item related to the Work. However, Patrons only receive the keepsake if the Work meets its funding goal.


      %p
        %h3 Isn't the idea of building a neighborhood or city too big for a website?

        We don’t think so. We believe that the crowdfunding model gives people a chance to decide what Works they’d like to see in their neighborhood. When a Work goes up, it is up to the Patrons to decide whether the Work and the Creator are fundable, and to raise enough support for the Work to reach its funding goal.

        Ultimately, Patronhood helps Creators collect the funding and support to get them to them to be taken seriously at the next level - plans with a developer, meetings with city hall - but doesn’t allow them to skip that level. So even if a Work raises $1 million, it still must go through all the regulatory and community meetings, but hopefully the idea and the Creator will be taken more seriously given the amount of funding and support raised through Patronhood.


      %p
        %h3 Will Patronhood help me get my Work through community procedures?

        Unfortunately, we do not have the capacity right now to see Works through to that stage. Our purpose is to help you get your Work funded with support so that you can be taken seriously at the stage where community input and government protocols come into play. But we cannot help you make your proposal pass those protocols faster.

      %p
        %h3 What's the Patronhood backstory?

        Nothing special, just a team of three guys from different parts of the world who fell in love with SimCity, travelling, building, coding, and working for ourselves. We decided to make it happen with Patronhood, and you can check out some of our early days at our
        %a{:href => "patronhood.tumblr.com"} blog

    .row-section
      %h1 Developing a Work
      %p
        %h3 Will Patronhood help me think of ideas for a Work?

        Sorry, but right now, Patronhood is just a platform for Works that have already been thought out, with a budget, designs, and steps to make it a reality. We like Works that are at this stage because it shows the Creator is dedicated to making it a reality, and Patrons will be more likely to fund it.

      %p
        %h3 Will Patronhood help me get my Work through community procedures?

        Unfortunately, we do not have the capacity right now to see Works through to that stage. Our purpose is to help you get your Work funded with support so that you can be taken seriously at the stage where community input and government protocols come into play. But we cannot help you make your proposal pass those protocols faster.

    .row-section
      %h1 Submitting a Work
      %p
        %h3 Who can submit a Work?

        Everyone! The best part about Patronhood is that you don’t need to be an urban planner or government official or nonprofit employee to raise funding. If you’ve got an idea to better your neighborhood, put some effort into developing it further and submit it to us!


      %p
        %h3 What do I need to become an Creator?

        Simply create a login. If you start a work, you’ll want to have a PayPal account handy so we can transfer funds to you for your successful Works.

      %p
        %h3 What if I live outside the US?

        Great! We love Works from around the world. You can still become an Creator, just make sure you have a valid PayPal account set up.

      %p
        %h3 What's the process for submitting a Work?

        First, create an account so you can keep track of your Works. Then, fill out the Works Submission form PUT LINK TO FORM. You can save as many times as you want, but only hit Submit when you’re ready for us to see it. We’ll review it, and make sure it fits our platform. If it doesn’t, we’ll let you know and work with you if needed. Once its ready to go, we’ll post it on the site and let the patronage roll in!

      %p
        %h3 Do Works have to have a location?

        Yes, Patronhood is a platform that focuses specifically on location-based ideas that can be seen on the ground and have a lasting impact on their neighborhood. But, if you’ve got an idea you aren’t sure fits, submit it anyway and we’ll let you know.


      %p
        %h3 Do Works have to be project-based?

        Yes, There should be a clear end or final result. It will make Patrons more interested in funding if they know there is a certain outcome at the end, rather than funding a general budget. And that’s what Patronhood is here to do, help fund real impacts and results.

      %p
        %h3 What information is required and what do you recommend to submit?

        Most of the items in the Work Submission form are required, the only optional ones are the amount of pictures you upload, links, and the Work Video.

        We highly recommend taking some time to film a short and honest video about your Work for three reasons:

        %ol
          %li It will give Patrons a quick overview of your Work
          %li It will introduce them to you and your neighborhood
          %li It will help show Patrons how much you care about your Work

      %p
        %h3 Can I edit the Work once I submit it?

        If you made a mistake, you can send us an email with the change. But once you submit the form, it’s pretty much in it’s final form, so make sure you’re really finished before you hit submit!

      %p
        %h3 What's the Work "duration"?

        The duration is the amount of time you want to give the Work to raise its funding goal. We recommend 60 days, but we also allow you to choose 45 or 30 days.

    .row-section
      %h1 Funding and Keepsakes

      %p
        %h3 What are the funding levels and are they required?

        There are three funding levels that are required for each Work, set increasingly for Patrons to choose. For example, you might have funding levels set at $50, $250, and $500. Each funding level is also associated with a keepsake (see next question).

        We require the three funding levels because it makes it easy for Patrons to choose a way to fund the Work, and gives you an easier time deciding upon amounts and keepsakes. We’ve also done a fair bit of research and three is a magic number when making choices.

      %p
        %h3 What are "keepsakes" and are they required?

        Keepsakes are what you offer Patrons in return for funding. Each funding level has its own keepsake. They are required because they help incentivize Patrons to fund Works. We recommend thinking about keepsakes as opportunities to give Patrons who do not live close to the Work a way to experience it - perhaps through a photograph, sketch, or another related item.

      %p
        %h3 How should I choose keepsakes and funding levels?

        Make each keepsake meaningful and related to the Work. However, they do not have to be the same value as the funding level. For example, just because you set one level at $300 does not mean you have to offer a $300 t-shirt (although we wonder what that would be like), because then you would not actually be raising any money.

        Instead, make sure that the meaningfulness of each keepsake increases with the funding amount. For instance, if you set one level at $25 for a small photograph, you may want to set your next level at $250 for a signed canvas print, and set your highest level at $2,500 in return for both a canvas print and the Patron’s name inscribed on the physical Work.

      %p
        %h3 Is a funding goal required?

        Yes, each Work must have a funding goal. This reinforces the idea of project-based Works and gives each Work campaign a feeling of camaraderie and helps rally more Patrons when the amount raised gets close to the funding goal.

      %p
        %h3 Is there a minimum or maximum funding goal?

        Nope! Reach for the skies!

    .row-section
      %h1 Managing Works

      %p
        %h3 How will I be able to manage my Works?
        Using your account, you can login to your dashboard to see the different Works you’ve submitted, their status, keep track of Patrons, and send Updates.

      %p
        %h3 Can I edit my Work when it's live?

        You can’t edit the Work when it’s live, but you can send out Updates that will appear at the bottom of the Work page. Updates can be anything from press coverage you’ve received, to new links or email addresses. If there is something pressing, email us and we’ll try to figure it out together.

      %p
        %h3 What happens if my Work reaches its funding goal before the duration ends?

        Congrats! Keep going! All Works will stay active until the end of their duration.

      %p
        %h3 Can I cancel a Work?

        Yes, you may cancel a Work from your dashboard at any time. Use Wisely.

      %p
        %h3 After the Work campaign ends, what if my Work doesn't reach its funding goal?

        No money changes hands, and the campaign ends. We take a look at all failed Works and try to help the Creators figure out why the Work might have failed. We welcome you to rework it, tweak descriptions, keepsakes, and the funding goal and resubmit it, but only if it is clearly different from the failed work.

      %p
        %h3 Why can't I keep the money raised even if my Work doesn't reach its funding goal?

        Because we use the all-or-nothing crowdfunding model, we only charge Patrons if all the Works funding goal is raised. We use this model because it rallies support among Patrons. If there is one goal that needs to be achieved, they’ll be motivated to spread the word. It also makes life easier for you as the Creator. If you only raised $100 for a $1,000 Work, your Patrons might still expect you to complete the full Work.

      %p
        %h3 How does a Work become successful?

        Running a Work campaign can be time consuming. The best way to start once your campaign goes live is by reaching out to friends and family, as well as utilizing the social media links on your Work page. We’ll be featuring every Work through our channels and on our website, but you should be putting in the effort for the return as well.

        Other factors include how you set funding levels and keepsakes, and how much information you provide in your video, descriptions, and pictures.

      %p
        %h3 How do I send Keepsakes to Patrons?

        That’s up to you, but we’ll help you collect the information you need, like email addresses or mailing addresses, from Patrons. You’ll be able to download those lists from your dashboard.

      %p
        %h3 Are there any fees associated with using Patronhood?

        Yes, but only if a Work meets its funding goal. If it does, Patronhood takes 5% of the total funds raised and our payment processor takes another 4%. We'll use PayPal to send funds to you, which shouldn't cost anything, but bear in mind that if you raise large amounts of funding, we may be required to find a different method of transferring the funds, which could incur additional fees.

      %p
        %h3 Can I make my Work tax deductible?

        If you are a 501(c)(3) organization and can prove it, let us know by email after you submit your Work, and make sure you clearly state on your Work page in your video, description, and the keepsakes that funding amounts are tax deductible, and how Patrons can contact you to document it.

      %p
        %h3 How do I receive my funding?

        Patronhood will collect all funds from a Work that raises its funding goal and, after processing fees, will send it to you via PayPal. If your Work successfully raises its funding, we'll contact you and ask for your PayPal account or help you set one up. If you can set one up prior to submitting your Work, that would be even better. Bear in mind that for large amounts of funding, we may be required to transfer money through a different method.

      %p
        %h3 How long will it take to receive funds?

        Since we have to wait for our payment processor as well as PayPal, you should allow 7-14 days. Bear in mind that for large amounts of funding, we may be required to transfer money through a different method, which could add on more time.

      %p
        %h3 Will Patronhood help me purchase materials or hire labor to build my Work?

        We wish we had those hookups, but we don't. It is up to you to use the funds you've raised wisely, and it's something you should have figured out before you Submit a Work.

    .row-section
      %h1 Funding a Work
      
      %p
        %h3 How do I become a Patron?
        
        Easy! Just click “Fund this Work” on a Work page, select your keepsakes, and enter your credit card details.

      %p
        %h3 Do I need an account to become a Patron?

        Nope, just an email address, your details and a credit card.

      %p
        %h3 How do I know my payment has been received?

        When the Work reaches its funding goal, we’ll send you an email with a receipt of your payment.

      %p
        %h3 When am I charged?

        You are only charged if the Work raises all of its funding goal.

      %p
        %h3 What happens if the Work does not raise all of its funding goal by its duration?

        You aren’t charged and the Work campaign ends, but we’ll send you an email anyway to let you know.

      %p
        %h3 How can I help a Work succeed?

        Spread the word! Create Support! It’s your duty as a Patron to help your Work succeed!

      %p
        %h3 How will I receive my keepsake?

        That’s up to the Creator, but depending on the funding level you select, we’ll ask you for the information the Creator needs to send you your keepsake, whether that be a physical address or simply an email. We’ll only share that information with the Creator if the Work reaches its funding goal.


    .row-section
      %h1 Work Legitimacy

      %p
        %h3 How do I know the Creator and Work is legitimate?

        We try our best to verify all Creators and Works, but it is up to you to ultimately decide if the Work and the Creator are worth funding. This is what makes the all-or-nothing crowdfunding model work well. Because the Work only succeeds if it raises all of its funding, you’ll be among many other Patrons deciding on the validity of the campaign.

        When deciding, use your best judgment. If the Creator or Work is part of an organization, look them up online and see their past projects. If it’s one person, check out the links they’ve put up on their Work page, or try looking them up too.


    .row-section
      %h1 After Funding
      %p
        %h3 Can I cancel my funding?

        If the Work campaign is still running, you may cancel your funding by emailing us.

      %p
        %h3 Can I change my funding level?

        If the Work campaign is not running, you can change your funding level by emailing us or editing the fields in the work page

      %p
        %h3 Can I change my credit card?

        If you need to change your payment method, email us to cancel your previous funding and visit the Work page to fund it again.

      %p
        %h3 Is my funding tax deductible?

        Only if the Creator specifies it clearly on the Work Page. If you fund the Work, contact the Creator to learn how you can make it tax deductible.

      %p
        %h3 Do I have to accept a keepsake?
        
        If you don't want a keepsake, select the 
        %b No Keepsake
        option on the patronage form and input the amount that you'd like to contribute
        in the 
        %b Additional Contribution
        section.

      %p
        %h3 Can I fund a Work anonymously?

        Unfortunately not right now, but we're working on it.

      %p
        %h3 What if I live outside the US?

        Awesome! We want to make Patronhood as accessible as possible, although you may have to contact the Creator to see if there’s any special considerations when receiving your keepsake.

      %p
        %h3 Where can I find out more information about the Work?

        Ask the Creator. They’ll have an email on the Work page that you can use to reach out to them.
