.container-share
  %a{:href => "https://twitter.com/intent/tweet?button_hashtag=patronhood&text=Help%20change%20your%20community%20-%20https://patronhood.com", :class => "twitter-hashtag-button", "data-lang" => "en", :target => "_blank"}
    = image_tag("twitter-share.png")

  %a{:href => "https://www.facebook.com/share.php?u=https://patronhood.com", :onClick => "return fbs_click()", :target => "_blank", :title => "Share This on Facebook" }
    = image_tag("facebook-share.png")

.container-background-home
  .container
    .works-header
      %header{:class => "jumbotron subhead", :id => "overview"}
        .header-content
          %h1 Ideas that improve neighborhoods
          %p.lead Below is a list of our featured and current works.

.container
  %section#showcased
    .container-content
      - if @works.empty?
        .empty-pane-main
          %p 
            Looks pretty empty.
            %br
            You might want to come back later.
      - else
        .featured-work 
          %h3 Featured Work
        - @works.each do |w|
          .row
            %div{:class => "page-header title"}
              %h1
                = link_to w.name, work_path(w)
                %small
                  = w.location.neighborhood

            %div{:class => "span4 video thumbnail"}
              = image_tag w.media.main_image.url(:thumb)
            .stats
              .stat-container
                .stat-item
                  Funded
                .stat-value
                  #{number_with_precision(w.percentage_raised, :precision => 0)}%

              .stat-container
                .stat-item
                  Total Patrons
                .stat-value-small
                  = w.patrons.count

              .stat-container
                .stat-item
                  Time Remaining
                .stat-value-small
                  = distance_of_time_in_words(Time.now, w.end_time)

            .summary
              = simple_format(w.summary)
                        
