.container-background-home
  .container
    .works-header
      %header{:class => "jumbotron subhead", :id => "overview"}
        .header-content
          %h1 Privacy Policy
          %p.lead Last Revised: 25th of July 2012

.container
  .container-policy
    .row
      %p
        We respect your right to privacy. We do not give or sell your data |
        or any of your personal information to third parties without your  |
        permission (such as to facilitate fulfillment of a transaction you |
        entered into on Patronhood.) Stripe, a secure third party payment  |
        processor, processes all of the transactions on Patronhood. No one |
        sees your credit card information besides Stripe, not even us.     |
      %p
        %b Email Addresses:
        We want to communicate with you only if you want to hear from us.  |
        We will only use this email address to contact you                 |
        as part of the transaction process, to send you periodic emails that | 
        you have signed up for, or for purposes that are intended to enhance |
        your user experience.                                                |

      %p
        %b Credit Card Information:
        All payments and credit card transactions are processed by a secure third party payment processor, Stripe.

      %p
        %b Facebook: 
        We allow users the ability to access certain features of the Service using Facebook credentials. By logging in to the Service with your Facebook credentials, you give Patronhood the ability to access certain personally identifying information stored in your Facebook profile. We will not view or store any data available to us from your Facebook profile without first obtaining your consent. We may allow you to share our content with your Facebook contacts. We do not store lists of your friends or the specific messages that you send to your friends, although we may display other friends that have registered for the Service with their Facebook credentials, and we may record the number of times that particular content has been shared.

      %p
        %b Passive Information Collection: 
        During your use of the Service, certain information may be passively collected using various technologies such as Google Analytics, and means, such as your physical location, navigational data, and which Campaigns you have viewed. We may share the types of data described in this section with third parties, but any such data will be aggregated and will not contain any personally identifying information.
        Use and Disclosure of User Information: Patronhood will contact you before it shares your personal information that is has collected, if any. In some instances, if certain proposals contain rewards that need to be distributed among pledgers, we may need to coordinate the distributon of those rewards.

      %p
        %b Disclosure to Third Parties: 
        We may provide personally identifying information to our subsidiaries, partners, and other affiliated companies for the purpose of processing personally identifying information on our behalf. We reserve the right to transfer or assign the personally identifying information we have collected from you in the event of a sale, merger, liquidation, dissolution, reorganization, assignment, or other transfer of Patronhood or the business of this Service to which the information relates, in which case we will require any such buyer to agree to treat it in accordance with this Privacy Policy or terms substantively similar hereto. We may share your personally identifying information when we believe in good faith that access, use, preservation or disclosure of such information is reasonably necessary to (a) satisfy any applicable law, regulation, legal process or enforceable governmental request, (b) to enforce applicable Terms of Service, including investigation of potential violations thereof, (c) detect, prevent, or otherwise address fraud, security, or technical issues, or (d) protect against harm to the right, property or safety of Patronhood, its users or the public as required or permitted by law.

      %p
        %b Minors: 
        People under 18 are not permitted to use Patronhood on their own, and so this privacy policy makes no provision for their use of the site.

      %p
        %b Protection of Your Personal Information: 
        We use a variety of security measures, including encryption and authentication tools, to maintain the confidentiality of your personal information. Your personal information is only accessible by a limited number of people who are required to keep the information confidential. When you place orders we use a secure server. To the extent you select the secure server method and your browser supports such functionality, all credit card information you supply is transmitted via Secure Socket Layer (SSL) technology. Regardless of these efforts by us, no data transmission over the public Internet can be guaranteed to be 100% secure.

      %p
        %b Changes: 
        To modify or delete any or all of the personal information you have provided to us, or if you have any questions or suggestions, please contact us directly at 
        %b team@patronhood.com.