.container-background-home
  .container
    .works-header
      %header{:class => "jumbotron subhead", :id => "overview"}
        .header-content
          %h1 Terms of Use
          %p.lead Last Revised: 25th of July 2012

.container
  .container-policy
    .row
      %p
        These are the terms of use for "www.patronhood.com". All those who interact with the site as defined below automatically accept these terms governing the use and content of the website. If you do not accept the terms stated below, you should discontinue your use of this site immediately.

      %p
        %h2 User Agreement
        The following are terms of a legal agreement (the “Agreement”) between you and Patronhood Inc. (“Patronhood”) that sets forth the terms and conditions for your use of this web site (the “Site”) and the service owned and operated by Patronhood (collectively, with the Site, the “Service”). The Site is owned and operated by Patronhood.This Site is being provided to you expressly subject to this Agreement.

        The Service is offered subject to acceptance without modification of all of the terms and conditions contained herein (the “Terms of Use”). By accessing, browsing and/or using the Site, you acknowledge that you have read, understood, and agree to be bound by the terms of this Agreement and to comply with all applicable laws and regulations. The terms and conditions of this Agreement form an essential basis of the bargain between you and Patronhood.

        In addition to these Terms of Use, you may enter into other agreements with us or others that will govern your use of the Service. If there is any contradiction between these Terms of Use and another agreement you enter into applicable to specific aspects of the Service, the other agreement shall take precedence in relation to the specific aspects of the Service to which it applies.

        Patronhood reserves the right to amend this Agreement at any time and will notify you of any such changes by posting the revised Agreement on the Site. You should check this Agreement periodically for changes. All changes shall be effective upon posting. Your continued use of the Site after any change to this Agreement constitutes your agreement to be bound by any such changes. Patronhood may terminate, suspend, change, or restrict access to all or any part of this Site without notice or liability.

      %p
        %h2 Limitations of Use
        The copyright in all material on this Site, including without limitation the text, data, articles, design, source code, software, photos, images and other information (collectively the “Content”), is held by Patronhood or by the original creator of the material and is protected by U.S. and International copyright laws and treaties. You agree that the Content may not be copied, reproduced, distributed, republished, displayed, posted or transmitted in any form or by any means, in whole or in part, including, but not limited to, electronic, mechanical, photocopying, recording, or otherwise, without the express prior written consent of Patronhood, except as provided in the following sentence and except that the foregoing does not apply to your own User Content (as defined below) that you legally post on the Site. Provided that you are eligible for use of the Site, you are granted a limited license to access and use the Site and to download or print a copy of any portion of the Content solely for your personal use, provided that you keep all copyright or other proprietary notices intact. You acknowledge that the Content is and shall remain the property of Patronhood. You may not modify, participate in the sale or transfer of, or create derivative works based on any Content, in whole or in part. The use of the Content on any other Site, including by linking or framing, or in any networked computer environment for any purpose, is prohibited without Patronhood’s prior written approval. You also may not, without Patronhood’s express written permission, “mirror” any material contained on this Site on any other server. Any unauthorized use of any Content on this Site may violate copyright laws, trademark laws, the laws of privacy and publicity, and communications statutes and regulations.

        You agree to use the Content and Site only for lawful purposes. You are prohibited from any use of the Content or Site that would constitute a violation of any applicable law, regulation, rule or ordinance of any nationality, state, or locality or of any international law or treaty, or that could give rise to any civil or criminal liability. Any unauthorized use of the Site, including but not limited to unauthorized entry into Patronhood’s systems, misuse of passwords, or misuse of any information posted on the Site is strictly prohibited. Patronhood makes no claims concerning whether the Content may be downloaded or is appropriate for use outside of the United States. If you access this Site from outside of the United States, you are solely responsible for ensuring compliance with the laws of your specific jurisdiction. Your eligibility for particular products or services is subject to final determination by Patronhood.

      %p
        %h2 Eligiblity
        The Site is intended solely for users who are 18 years of age or older, and any registration by, use of or access to the Site by anyone under 18 is unauthorized, unlicensed and in violation of these Terms of Use. By using the Service or the Site, you represent and warrant that you are 18 or older and that you agree to abide by all the terms and conditions of these Terms of Use. If you violate any of these Terms of Use, or otherwise violate an agreement between you and us, Patronhood may terminate your membership, delete your profile and any content or information you have posted on the Site and/or prohibit you from using or accessing the Service or the Site (or any portion, aspect or feature of the Service or the Site), at any time in its sole discretion, with or without notice, including without limitation if it believes that you are under 18.

      %p
        %h2 Content and Use Restrictions
        You agree not to post, upload, publish, display, transmit, share, store or otherwise make or attempt to make publicly available on the Site or on any other website, or in any email, blog, forum, medium or other communication of any kind, any private information of any User or other third party, including, without limitation, addresses, phone numbers, email addresses, Social Security numbers, driver’s license numbers, or bank account or credit card numbers, whether or not such private or personally identifiable information is displayed on or ascertainable from the Site, or obtained or obtainable from sources unrelated to the Site (such as from a “Google® search” or other online research). You agree to not to use the Site or any Content to upload, post, email, transmit or otherwise make available any unsolicited or unauthorized advertising, promotional materials, “junk mail,” “spam,” “chain letters,” “pyramid schemes,” or any other form of commercial or non-commercial solicitation or bulk communications of any kind to any user or other third party. In order to protect users from such advertising or solicitation, Patronhood reserves the right to restrict the number of emails which a user may send to other users in any 24-hour period to a number which Patronhood deems appropriate in our sole discretion. Directly contacting more than ten (10) users with a materially identical message within a 24-hour period is presumed to be spam and a violation of this Agreement.


        You agree not to post, upload, publish, display, transmit, share, store or otherwise make or attempt to make publicly available on the Site any content that we deem to be harmful, threatening, unlawful, defamatory, infringing, abusive, inflammatory, harassing, obscene, fraudulent, invasive of privacy or publicity rights, hateful, or racially, ethnically or otherwise objectionable.

        You agree not to register for more than one User account, register for a User account on behalf of an individual other than yourself, or register for a User account on behalf of any group or entity. You agree not to impersonate any person or entity, or falsely state or otherwise misrepresent yourself, your age or your affiliation with any person or entity. You agree not to use or attempt to use another’s account without authorization from Patronhood, or create a false identity on the Service or the Site.

        You agree not to post, upload, publish, display, transmit, share, store or otherwise make available any material that contains software viruses or any other computer code, files or programs designed to interrupt, destroy or limit the functionality of any computer software or hardware or telecommunications equipment.

        You agree not to post, upload, publish, display, transmit, share, store or otherwise make or attempt to make publicly available on the Site content that would constitute, encourage or provide instructions for a criminal offense, violate the rights of any party, or that would otherwise create liability or violate any local, state, national or international law.

      %p
        %h2 User Content and Submissions
        You are solely responsible for the photos, profiles, messages, notes, text, information, music, video, contact information for you or others, advertisements or other content that you upload, publish, provide or display (hereinafter, “post”) on or through the Service or the Site, or transmit to or share with other Users (collectively, the “User Content”). You understand and agree that Patronhood may, but is not obligated to, review and delete or remove (without notice) any User Content in its sole discretion, including without limitation, User Content that in the sole discretion of the Company violates these Terms of Use, might be offensive or illegal, or might violate the rights of, harm, or threaten the safety of, Users or others.

        By posting User Content to any part of the Site, you automatically grant, and you represent and warrant that you have the right to grant, to the Company an irrevocable, perpetual, non-exclusive, transferable, fully paid, worldwide license (with the right to sublicense) to use, copy, publicly perform, publicly display, reformat, translate, excerpt (in whole or in part) and distribute such User Content for any purpose on or in connection with the Site or the promotion thereof, to prepare derivative works of, or incorporate into other works, such User Content, and to grant and authorize sublicenses of the foregoing. If you choose to remove your User Content, the license granted above will not expire.

        All remarks, discussions, ideas, concepts, know-how, techniques, graphics, questions, comments, suggestions, feedback or other information communicated to Patronhood through this Site (collectively, “Submissions”) will be deemed and remain the property of Patronhood, and Patronhood is entitled to use any Submission for any purpose, without restriction or compensation to the individual who has provided the Submission. Patronhood shall not be subject to any obligations of confidentiality regarding Submissions except as expressly agreed by Patronhood or as otherwise required by applicable law.

      %p
        %h2 Trademarks
        Patronhood (including the Patronhood logo), www.Patronhood.com, and all related logos (collectively the “Patronhood Trademarks”) are trademarks or service marks of Patronhood. Other company, product, and service names and logos used and displayed on this Site may be trademarks or service marks owned by Patronhood or others. Nothing on this Site should be construed as granting, by implication, estoppel, or otherwise, any license or right to use any of the Patronhood Trademarks displayed on this Site, without our prior written permission in each instance. You may not use, copy, display, distribute, modify or reproduce any of the trademarks found on the Site unless in accordance with written authorization by us. Any questions concerning any Patronhood Trademarks, or whether any mark or logo is a Patronhood Trademark, should be referred to Patronhood.

      %p
        %h2 Links to Third-Party Sites
        This site may contain links to web sites controlled, owned, and operated by third parties (the “third-party sites”). Patronhood cannot control and has no responsibility for the accuracy or availability of information provided on the third-party sites. You acknowledge that use of any third-party sites is governed by the terms of use for those websites, and not by this Agreement. Links to third-party sites do not constitute an endorsement or recommendation by Patronhood of such sites or the content, products, advertising or other materials presented on such sites, but are only for your convenience and you access them at your own risk. Patronhood is not responsible for the content of any third-party web sites, nor does Patronhood make any warranties or representations, express or implied, regarding the content (or the accuracy of such content) on any third-party web sites, and Patronhood shall have no liability of any nature whatsoever for any failure of products or services offered or advertised at such sites or otherwise.

      %p
        %h2 Warranties
        Disclaimer of warranties none of Patronhood, any of its affiliates, providers or their respective officers, directors, employees, agents, independent contractors or licensors (collectively the “Patronhood parties”) guarantees the accuracy, adequacy, timeliness, reliability, completeness, or usefulness of any of the content and Patronhood disclaims liability for errors or omissions in the content. This site and all of the content is provided “as is” and “as available,” without any warranty, either express or implied, including the implied warranties of merchantability, fitness for a particular purpose, non-infringement or title. Additionally, there are no warranties as to the results of your use of the content. Patronhood parties do not warrant that the site is free of viruses or other harmful components. this does not affect those warranties which are incapable of exclusion, restriction or modification under the laws applicable to this agreement. Patronhood may discontinue or make changes in the content and site at any time without prior notice to you and without any liability to you. any dated information is published as of its date only, and Patronhood parties do not undertake any obligation or responsibility to update or amend any such information. Patronhood reserves the right to terminate any or all site offerings or transmissions without prior notice to you. this site could contain technical inaccuracies or typographical errors. use of this site is at your own risk.

      %p
        %h2 Limitation of Liability
        Under no circumstances will Patronhood parties be liable for any damages including general, special, direct, indirect, incidental, consequential, punitive or any other damages (including, without limitation, lost profits or business interruption) of any kind whether in an action in contract or negligence arising or relating in any way to the use or inability to use by any party of the content, the site or any third-party site to which this site is linked, or in connection with any failure of performance, error, omission, interruption, defect, delay in operation or transmission, computer virus or line or system failure, even if Patronhood parties, or representatives thereof, are advised of the possibility of such damages, losses or expenses. Patronhood is not liable for any defamatory, offensive or illegal conduct of any user. Your sole remedy for dissatisfaction with this site is to stop using the site. If your use of materials from this site results in the need for servicing, repair or correction of equipment or data, you assume any costs thereof. If the foregoing limitation is found to be invalid, you agree that the Patronhood parties’ total liability for all damages, losses, or causes of action of any kind or nature shall be limited to the greatest extent permitted by applicable law.

      %p
        %h2 Indemnification
        You agree to indemnify and hold harmless Patronhood Parties from and against any and all claims, losses, expenses, demands or liabilities, including attorneys’ fees and costs, incurred by the Patronhood Parties in connection with any claim by a third party (including any intellectual property claim) arising out of or in connection to (i) your User Content, (ii) any Third Party Content you post or share on or through the Site, (iii) your use of the Service or the Site, (iv) your conduct in connection with the Service or the Site or with other Users of the Service or the Site, or (v) any violation of this Agreement or of any applicable law or the rights of any third party. You further agree that you will cooperate fully in the defense of any such claims. Patronhood Parties reserve the right, at their own expense, to assume the exclusive defense and control of any matter otherwise subject to indemnification by you, and you shall not in any event settle any such claim or matter without the written consent of Patronhood. You further agree to indemnify and hold harmless Patronhood Parties from any claim arising from a third party’s use of information or materials of any kind that you post to the Site.

      %p
        %h2 Availability
        This Site is not intended for distribution to, or use by, any person or entity in any jurisdiction or country where such distribution or use would be contrary to applicable law or regulation. By offering this site and Content no distribution or solicitation is made by Patronhood to any person to use the Site or Content in jurisdictions where the provision of the site and/or content is prohibited by law.

      %p
        %h2 Termination
        This Agreement is effective until terminated by Patronhood. Patronhood may terminate this Agreement at any time without notice, or suspend or terminate your access and use of the Site or the Service at any time, with or without cause, in Patronhood’s absolute discretion and without notice. The following provisions of this Agreement shall survive termination of your use or access to the Site: the sections concerning Indemnification, Disclaimer of Warranties, Limitation of Liability, Waiver, Applicable Law and Dispute Resolution, and General Provisions, and any other provision that by its terms survives termination of your use or access to the Site.

      %p
        %h2 Dispute Resolution
        This Agreement and all other aspects of your use of the Site shall be governed by and construed in accordance with the laws of the United States and, to the extent applicable, to the laws of the State of New York, without regard to its conflict of laws rules. You agree that you will notify Patronhood in writing of any claim or dispute concerning or relating to the Site and the information or services provided through it, and give Patronhood a reasonable period of time to address it BEFORE bringing any legal action, either individually, as a class member or representative, or as a private attorney general, against Patronhood.
      
      %p
        %h2Contact
        If you need to contact Patronhood, email us at team@Patronhood.com