.container
  .confirmation-container
    %h1.confirmation-header
      = @patron_name
    .confirmation-body
      %h1
        THANK YOU!
        %h2
          %small for your contribution to
        %h2= @work_name
        %p.info Be on the lookout for an email with an outline of your contribution!
    = link_to "Take Me Home", root_path, :class => "submit-btn-large back"
