.container-background-home
  .container
    .works-header
      %header{:class => "jumbotron subhead", :id => "overview"}
        .header-content
          %h1= @work.name
          %p.lead Fill out your details below and be a Patron.

.container
  .container-patronize
    - if !@patronage.nil? && @patronage.errors.any?
      .error-explanation
        - if @patronage.errors
          .alert.alert-error
            - if @patronage.errors[:base].empty?
              %h4 Hmmm... There seems to be a problem with some of your details
            - else
              %h4= @patronage.errors[:base][0];


    = form_for [@work, @patronage] do |p|
      = p.hidden_field :stripe_card_token
      .reward-select-section
        %h2
          Select Keepsake
        %p
          Select a keepsake below, by clicking on a row.

        %table.table
          %thead
            %tr
              %th Option
              %th Description
              %th Contribution
              %th
          %tbody
            - (0..3).each do |item_count|
              - case item_count
              - when 0
                %tr{:value => item_count}
                  %td 
                    %h4 No Keepsake
                  %td 
                    %p
                      No keepsakes! I just want to support #{@work.name}
                  %td.contribution
                    $0
                  %td#selected-marker
                    .selected
              - else
                - if @work.rewards[item_count-1].quantity.nil? ||
                - @work.rewards[item_count-1].quantity > 0
                  %tr{:value => item_count}
                    %td
                      %h4= @work.rewards[item_count-1].title
                    %td 
                      = @work.rewards[item_count-1].description
                    %td.contribution
                      $#{@work.rewards[item_count-1].minimum.to_i}
                    %td#selected-marker

      .selected-keepsake
        %p
          Selected:
          %span.item No Keepsake

      .selected-keepsake-input 
        - (0..3).each do |item_count|
          - if item_count == 0 || @work.rewards[item_count-1].quantity.nil? ||
          - @work.rewards[item_count-1].quantity > 0
            - if item_count == 0
              = p.radio_button :reward_selection, item_count, :checked => true
            - else
              = p.radio_button :reward_selection, item_count  

      .additional-values
        %h3
          Additional Contribution
          %small#status-required Required 
        .input-prepend
          %p#instructions
            You must specify an additional contribution amount below.

          %span.add-on $
          = p.number_field  :additional_contribution, :value => 0, |
                            :id => "additional-contribution", :class => "positive-integer"

      .total-contribution
        %p
          Your Total:
          %span#total-calc $0

      .personal-details
        %h2 Personal Details
        - unless @patronage.errors[:first_name].blank? || @patronage.errors[:surname].blank? || 
        - @patronage.errors[:email].blank?
          .alert.alert-error
            %h5 Fields cannot be blank
        %p
          So that we can contact you if this work is successful,
          please enter your first name, surname and email below.

        .name-details
          %h4 First Name
          = p.text_field  :first_name, :class => "span6-5"
          %h4 Last Name
          = p.text_field  :surname, :class => "span6-5"
        .email-details
          %h4 Email Address
          = p.text_field :email, :placeholder => "Email"

      .address-details
        %h2 Address Details
        - unless @patronage.errors[:address].blank? || @patronage.errors[:address_city].blank? || 
        - @patronage.errors[:address_zip].blank? || @patronage.errors[:address_state].blank? ||
        - @patronage.errors[:address_country].blank?
          .alert.alert-error
            %h5 Fields cannot be blank

        %p
          Please enter a shipping address where the creator can send your keepsakes. 
          %b 
            Note: We will only share this information if the project is successful

        .address-field
          %h4 Address
          = p.text_area   :address, :class => "span6", :rows => 3
        .address-field
          %h4 City
          = p.text_field  :address_city
        .address-field
          %h4 Zip Code
          = p.text_field  :address_zip, :class => "span1"
        %br
          %br
            .address-field-large
              %h4 State
              = p.text_field  :address_state
            .address-field-large
              %h4 Country
              = p.country_select(:address_country)

      .credit-card-details
        %h2 Credit Card Details
        %p
          Please enter your credit card details below.
        #stripe-error
          %noscript
            JavaScript is not enabled and is required for this form.
            First enable it in your web browser settings.
        .credit-card-field
          %h4 Credit Card
          = text_field_tag :card_number, nil, :class => "span4"
        .credit-card-field
          %h4 CVV
          = text_field_tag :card_code, nil, :class => "span1"
        .credit-card-field
          %h4 Card Expiration
          = select_month nil, {:add_month_numbers_true => true}, {:id => "card_month"}
          = select_year nil, {:start_year => Date.today.year, :end_year => Date.today.year+15}, {:id => "card_year"}


      .submission-actions
        = link_to "CANCEL", @work, :class => "submit-btn-cancel"
        /%a.btn#modal-fun{"data-toggle" => "modal", "href" => "patronage-confirmation"} BOOM
        /= p.submit "CONFIRM MY CONTRIBUTION", :id => "patronize-work-submit", :class => "submit-btn", :name => nil
        %a#confirm-contribution.submit-btn{"data-toggle" => "modal", "href" => "patronage-confirmation"} CONFIRM MY CONTRIBUTION  


.modal.fade.hide#patronage-confirmation
  .modal-header
    %h4 Here is an outline of your contribution
  .modal-body
    %h1 #{@work.name}
    %h2 Your Personal Details
    %p
      %b Name: 
      %span#name
      %br/
      %b Email:
      %span#email jason@patronhood.com
    %h2 Your Address Details
    %p#address

    %h2 Your Keepsake & Additional Contribution
    .breakdown 
      .item#keepsake
        .value
        .desc
      .symbol
        %p
          +
      .item#additional
        .value
        .desc
          Additional Contribution

      .total
        Total: 
        %span#total

      %p.note
        Please note, that we will not charge you until the campaign 
        has completed and has successfully reached the funding goal.

      .policy 
        %p
          By pressing
          %b Fund Work,
          you agree to all of the site's policies and terms, and
          are willing to provide a contribution to the proposed project.
     
  .modal-footer
    %a.submit-btn-cancel{"data-dismiss" => "modal"} Cancel
    %a#fund-work.submit-btn{"data-dismiss" => "modal"} FUND WORK

.modal.fade.hide#patronage-invalid-fields
  .modal-header
    %h4 Uh oh! There seems to be a problem with your information.
  .modal-body 
    .invalid-fields
      %h2 Please look over the entered information and try again.
  .modal-footer
    %a.submit-btn{"data-dismiss" => "modal"} OK


