%h1 Welcome to the Patronhood Beta!
%p
  Welcome Brave Soul! 
  %br/
  Thank you for signing up for our beta! 
  Please give us a heads-up about any bugs or problems that you find via team@patronhood.com

%p
  = link_to "Sign Me Up!", signup_path(:only_path => false, :registration_token => @token)
