.container-background-dashboard
  .works-header
    %header{:class => "jumbotron subhead", :id => "overview"}
      .header-content
        %h1 Have an idea? Submit a work!
        %p{:class => "lead"}
          Improve your neighborhood
      = render 'works/partials/subnav'

.container
  .container-content
    = render 'works/partials/error_and_notifications', :w => @work

    = form_for @work, :html => { :multipart => true, :class => "submit-work"} do |w|
      = render 'works/partials/basic', :w => w
      = render "works/partials/fundingcampaign", :w => w
      = render "works/partials/projectdetails", :w => w
      = render "works/partials/media", :w => w
      = render "works/partials/projectkeepsakes", :w => w
      = render "works/partials/creator", :w => w

      #submission
        .form-submit-button
          = w.submit "I'm Done! Submit My Work", :class => "submit-btn-large", :id => "submit-work"
