.container-share
  %a{:href => "https://twitter.com/intent/tweet?button_hashtag=patronhood&text=Please%20help%20fund%20#{@work.name}%20-%20https://patronhood.com#{work_path(@work)}", :class => "twitter-hashtag-button", "data-lang" => "en", :target => "_blank"}
    = image_tag("twitter-share.png")

  %a{:href => "https://www.facebook.com/share.php?u=https://patronhood.com#{work_path(@work)}", :onClick => "return fbs_click()", :target => "_blank", :title => "Share This on Facebook" }
    = image_tag("facebook-share.png")


.container-background
  .work-header-content
    %header{:class => "jumbotron subhead", :id => "overview"}
      .work-name-location
        %h1
          = @work.name
        %p.lead
          #{ @work.location.neighborhood }, #{ @work.location.city } - #{@work.creator.name}

      .work-stats
        .work-stat-value
          = "$#{@work.total_raised.to_i}"
        .work-stat-item
          %b= "of $#{@work.funding_goal.to_i}"

        .work-stat-value
          = @work.patrons.count
        .work-stat-item 
          %b Patrons

        - if @work.status.eql?(WORK_RUNNING)
          .work-stat-value
            = distance_of_time_in_words(Time.now, @work.end_time)
          .work-stat-item 
            %b Remaining
        - else
          .work-stat-value 
            N/A 

  .subnav-work
    %ul{:class => "nav nav-pills", :id => "work-name"}
      %li 
        %a{:href => "#about"} OVERVIEW
      %li
        %a{:href => "#impact"} NEIGHBORHOOD IMPACT
      %li
        %a{:href => "#creator"} ABOUT THE CREATOR
      %li
        %a{:href => "#keepsakes"} KEEPSAKES
      - if !@work.work_updates.empty?
        %li
          %a{:href => "#updates"} UPDATES

.container
  .work-section-top#about
    %div{:class => "row pane"}
      %h1 Overview
      .media-container
        %ul.nav.nav-pills#myTab
          - unless @work.media.video_url.empty?
            %li
              %a{:href => "#video", "data-toggle" => "tab"} Video

          - if @work.media.has_renderings?
            %li
              %a{:href => "#gallery", "data-toggle" => "tab"} Gallery

        .tab-content
          - unless @work.media.video_url.empty?
            .tab-pane.active#video
              - src = "https://www.youtube.com/embed/#{@work.media.video_url.scan(/^.*youtube\.com\/watch\?v=(\w*)/)[0][0]}"
              %iframe{:src => src, 
                      :height => "375", 
                      :width => "500", 
                      :frameborder => "0",
                      :allowFullScreen => "true"}

          - if @work.media.has_renderings?
            .tab-pane.active#gallery
              .carousel.slide#work-carousel
                .carousel-inner
                  - count = 0;
                  - @work.media.renderings.each do |r|
                    - unless r.image_file_name.nil?
                      - if count == 0
                        .active.item
                          = image_tag r.image.url(:thumb)
                      - else
                        .item
                          = image_tag r.image.url(:thumb)
                      - count += 1
                %a.carousel-control.left{"href" => "#work-carousel", "data-slide" => "prev"} &lsaquo;
                %a.carousel-control.right{"href" => "#work-carousel", "data-slide" => "next"} &rsaquo;


      = simple_format(@work.detail.description)

  .work-section#impact
    %div{:class => "row pane"}
      %h1 Neighborhood Impact
      .neighborhood-container
        = image_tag "https://maps.googleapis.com/maps/api/staticmap?size=500x375&maptype=hybrid&sensor=false&zoom=18&markers=#{@work.location.latitude}%2C#{@work.location.longitude}"
      = simple_format(@work.detail.neighborhood_impact)

  .work-section#creator
    %div{:class => "row pane"}
      %h1 About The Creator
      .artist-container
        = image_tag(@work.creator.profile_image(:profile), :class=>"profile-image")
        .artist-info
          %h3= @work.creator.name
          %p
            %a{:href => @work.creator.website, :rel => "tooltip", |
              :title => @work.creator.website }                   |
              %i.icon-globe
      = simple_format(@work.creator.bio)

  - if @work.work_updates.empty?
    .work-section-bottom#keepsakes
      %div{:class => "row pane"}
        %h1 Work Keepsakes
        - @work.rewards.sort_by{|r| r.minimum}.each do |r|
          .keepsake
            %h2= r.title
            
            .keepsake-contribution
              %b Base Contribution
              %h2= "$ #{r.minimum.to_i}"

            .keepsake-description
              = simple_format(r.description)
  - else
    .work-section#keepsakes
      %div{:class => "row pane"}
        %h1 Work Keepsakes
        - @work.rewards.each do |r|
          .keepsake
            %h2= r.title

            .keepsake-contribution
              %b Base Contribution
              %h2= "$ #{r.minimum.to_i}"

            .keepsake-description
              = simple_format(r.description)

  - if !@work.work_updates.empty?
    .work-section
      %div{:class => "row pane"}
        %h1 Work Updates
        %table{:class => "table table-striped"}
          %thead
            %tr
              %th.update-column
                %h3 Update
              %th
                %h3 Date

          %tbody
            - @work.work_updates.find(:all, :order => "created_at DESC").each do |w|
              %tr
                %td
                  %p= w.description
                %td
                  %b= w.created_at.strftime("%d/%m/%Y")






