<div class="container">
  <div class="signupbox">
    <div class="loginbox-header">
      <h1>Ah! I Forgot My Password!</h1>
    </div>

    <% if !flash.empty? %>
      <div class="alert alert-block">
        <% flash.each do |key, value| %>
          <%= content_tag :div, value, :class => "flash #{key}" unless value.blank? %>
        <% end %>
      </div>
    <% end %>
    
    <%= devise_error_messages! %>

    <div class="beta-dec">
      <p>
        Oops! You forgot your password right? Don't worry! We all make mistakes.<br/>
        Just enter the email that you use to login and we'll be able to fix you up.
      </p>

    </div>

    <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :class => "form-inline"  }) do |f| %>

      <div class="container-signup">
          <%= f.email_field :email, :class => "input-xlarge", :placeholder => "Email" %>
          <div><%= f.submit "RESET MY PASSWORD", :class => "submit-btn-signup" %></div>
      </div>
    <% end %>
  </div>
</div>