.container
  .confirmation-container
    .confirmation-body
      %h1
        Thank you for signing up
        %p.info
          We'll send you an email when we are ready for you.
    = link_to "Take Me Home", root_path, :class => "submit-btn-large back"
