.container
  .loginbox
    .loginbox-header
      %h1 Want to be part of our beta?
    
    .beta-desc
      %p 
        Currently we are still in beta, so we're limiting our contributors |
        for the meantime. But if you really want to help make Patronhood   |
        better, feel free to post your email below and we'll send you a |
        confirmation when we are ready to add more users. |

    - if !flash.empty?
      - flash.each do |key, value|
        = content_tag :div, value, :class => "flash #{key}" unless value.blank?

    = form_for @beta_user do |b|
      = b.email_field :email, :class => "input-large", :placeholder => "Email"
      %br/
      = b.submit "KEEP ME POSTED!", :class => "submit-btn"
