%h1 #{@work.name} has been cancelled by its creator.

%p
  Uh oh! #{@work.name} has been cancelled by its creator.

%p 
  Please note that you have NOT been charged for your proposed contribution

%p
  %b - Patronhood Team
