%h1 Thanks for your contribution to #{@work.name}

%p
  Thanks for contributing to 
  %b= @work.name

%p
  Below is a layout of your contribution:
  %br/
  %b First Name:
  = @patron.first_name
  %br/
  %b Surname:
  = @patron.surname
  %br/
  %b Address:
  %br/
  = @patron.address
  %br/
  = @patron.address_city
  %br/
  = @patron.address_state
  %br/
  = @patron.address_country 
  %br/
  = @patron.address_zip
  %br/


%h2 Contribution
- if @patron.reward_selection == REWARD_OPTION_NONE
  %b No keepsake selected - $0.00
- else
  %b= @work.rewards[@patron.reward_selection - 1].title
  \-
  = number_to_currency(@patron.base_contribution, :precision => 2)
  %p
    = @work.rewards[@patron.reward_selection - 1].description 

%p
  %b Additional Contribution -
  = number_to_currency(@patron.additional_contribution, :precision => 2)

%p
  %b Total Contribution: 
  = number_to_currency(@patron.total_contribution, :precision => 2)
  
%p
  %b NOTE: 
  We will only bill you after the campaign is successful and its duration |
  is completed. |

%p
  %b - Patronhood Team

