%h1 #{@work.name} failed.

%p
  Sadly, "#{@work.name}" did not meet its funding goal of "#{@work.funding_goal}"
  Please note that you have NOT been charged for your proposed contribution.

%p
  %b - Patronhood Team
