%h1 Success! #{@work.name} was funded.
%h3 Thanks for contributing to #{@work.name}

%p
  Good news! #{@work.name} did meet its funding goal of      |
  #{number_to_currency(@work.funding_goal, :precision => 2)} |
  Please note that you will be charged for your proposed     |
  contribution, and that if you have any issues about your   |
  keepsake, please get in contact with the work creator.     |

%p
  Below is a layout of your contribution:
  %br/
  %b First name: #{@patron.first_name}
  %br/
  %b Last name: #{@patron.surname}

%p
  %b Address:
  %br/
  = @patron.address
  %br/
  = @patron.address_city
  %br/
  = @patron.address_state
  %br/
  = @patron.address_country, @patron.address_zip


%h3 Contribution                              
- if @patron.reward_selection == REWARD_OPTION_NONE 
  %b No keepsake selected -
  $0.00    
- else
  = @work.rewards[@patron.reward_selection - 1].name %> 
  \- 
  = number_to_currency(@patron.base_contribution, :precision => 2)
  %br/
  = @work.rewards[@patron.reward_selection - 1].description

%h3 Additional Contribution - 
= number_to_currency(@patron.additional_contribution, :precision => 2)


%h3 Total Contribution: -
= number_to_currency(@patron.total_contribution, :precision => 2)

%p
  %b NOTE: 
  We will only bill you after the campaign is successful and the time |
  period has finished finished.                                       |

%b -Patronhood Team
