.container-background-dashboard
  .works-header
    %header#overview.jumbotron.subhead
      .header-content
        %h1
          Updates: #{@work.name}
        %p.lead What's Up? Anything new? Post an update!
.container
  .container-content
    .update-header
      %h2 Update Description
      %p
        Anything new or interesting happen to your work? or any
        important news? Post it here and keep your Patrons informed.
    = form_for [@work, @work_updates] do |u|
      = u.text_area :description, :class => "worksummary span9", | 
                    :rows => 10,  :maxlength => 1000             |
      %br/
      %h4 Please be careful. Once you post your update you cannot undo it!
      %div
        %span#char-count-summary.counter.counter_label
      .form-submit-update-button
        = u.submit "Post My Update!", :class => "submit-btn-large", :id => "submit-update"