.container-content

  .error-page
    .error-text
      %p
        %h2 It seems like the page you were looking for doesn't exist!
      %p
        %h5 You may have mistyped the address or the page may have moved.
      
    = image_tag "404.jpg"


