<div class="container">
	<div class="loginbox">
		<div class="loginbox-header">
			<h1>Welcome Back!</h1>
		</div>

    <% if !flash.empty? %>
        <% flash.each do |key, value| %>
          <%= content_tag :div, value, :class => "flash #{key}" unless value.blank? %>
        <% end %>
    <% end %>
    
		<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => "form-inline" }) do |f| %>
      <div class="container-login">
  			<%= f.email_field :email, :class => "input-large", :placeholder => "Email" %>
  			<%= f.password_field :password,  :class => "input-large",  :placeholder => "Password" %>
  			<%= f.submit "LOG IN", :class => "submit-btn" %>

        <%- if devise_mapping.recoverable? && controller_name != 'passwords' %>
         <%= link_to "Forgot your password?", new_password_path(resource_name), :class => "forgotten-login" %><br />
        <% end -%>
      </div>
			<p class="loginbox-signup">
          Don't have an account? <%= link_to "Signup for our beta", beta_signup_path %><br/>
			</p>
		<% end %>
	</div>
</div>
