.container
  .signupbox
    .loginbox-header
      %h1 Welcome to Patronhood!
    - if !flash.empty?
      .alert.alert-block
        - flash.each do |key, value|
          = content_tag :div, value, :class => "flash #{key}" unless value.blank?
    = devise_error_messages!
    = form_for(resource, :as => resource_name, :url => registration_path(resource_name), |
      :html => { :class => "form-inline" }) do |f|                                       |
      .container-signup
        = hidden_field_tag "registration_token", params[:registration_token]
        = f.email_field :email, :class => "input-xlarge", :placeholder => "Email"
        = f.password_field :password,  :class => "input-xlarge",  :placeholder => "Password"
        = f.password_field :password_confirmation,  :class => "input-xlarge",  |
          :placeholder => "Password Confirmation"                              |
        = f.submit "CREATE MY ACCOUNT", :class => "submit-btn-signup"
        %p.loginbox-signup
          Don't have an account?
          %br/
          %a{:href => "#"} Join our beta

