@import 'bootstrap';

/* Add additional stylesheets below
-------------------------------------------------- */
/*
bootstrap's documentation styles
Special styles for presenting Bootstrap's documentation and examples
*/

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,800);

/* Body and structure
-------------------------------------------------- */
body {
	position: relative;
	padding-top: 90px;
	background-color: #fff;
	background-repeat: repeat-x;
	background-position: 0 40px;
}


.row {
	width: 950px;
}

/* Tweak navbar brand link to be super sleek
-------------------------------------------------- */
.navbar-fixed-top .brand,
.navbar-fixed-top .tagline, {
	padding-right: 0;
	padding-left: 0;
	margin-left: 10px;
	margin-top: -25px;
	float: left;
	font-weight: bold;
	color: #fff;
	text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.125);
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	transition: all .2s linear;

  width: 110px;
  height: 110px;

  background: url('patronhood_logo.png') no-repeat center;
}

.navbar-fixed-top .brand:hover {
	text-decoration: none;
}

.navbar-fixed-top .tagline {
	margin-top: -18px;
	margin-left: 6px;

	width: 280px;
	background: url('patronhood_tagline.png') no-repeat center;
}

.add-on {
    margin-top: -9px;
}
/* Space out sub-sections more
-------------------------------------------------- */
section {
	padding-top: 60px;
}

/* Faded out hr */
hr.soften {
	height: 1px;
	margin: 54px 0;
	background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
	background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
	background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
	background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
	border: 0;
}


/* Jumbotrons
-------------------------------------------------- */
.jumbotron {
	position: relative;
}

.jumbotron h1 {
	margin-bottom: 9px;
	font-size: 81px;
	font-weight: bold;
	letter-spacing: -1px;
	line-height: 1;
	
	font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue";
	font-stretch: condensed;
}

.jumbotron p {
	margin-bottom: 18px;
	font-weight: 300;
}

.jumbotron .btn-large {
	font-size: 20px;
	font-weight: normal;
	padding: 14px 24px;
	margin-right: 10px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

.jumbotron .btn-large small {
	font-size: 14px;
}

/* Masthead (docs home) */
.masthead {
	padding-top: 36px;
	margin-bottom: 72px;
}
.masthead h1,
.masthead p {
	text-align: center;
}
.masthead h1 {
	margin-bottom: 18px;
}
.masthead p {
	margin-left: 5%;
	margin-right: 5%;
	font-size: 30px;
	line-height: 36px;
}


/* Specific jumbotrons
------------------------- */
/* supporting docs pages */
.subhead {
	padding-bottom: 0;
	margin-bottom: 9px;
}

.subhead h1 {
	font-size: 50px;
	font-stretch: condensed;

}

/* Subnav */
.subnav,
.subnav-work{
	width: 900px;
	height: 40px;

	margin:0 auto;

	background-color: #fff; /* Old browsers */
	background-repeat: no-repeat; /* Repeat the gradient */
	background-image: none;
	border: none;

	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 0px;

}

.subnav {
	margin-top: 100px;
	padding-left: 40px;
}

.subnav-work {
  margin-top: 220px;
  padding-left: 80px;
}


.subnav .nav > li > a,
.subnav-work .nav > li > a {
	margin: 0;
	padding-top:    11px;
	padding-bottom: 11px;
	border-left: none;
	border-right: none;

	color: #aaa;

	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;

	font-weight: 500;
}

.subnav #menu {
	margin-left: -25px;
}

.subnav .nav > li > a:hover,
.subnav-work .nav > li > a:hover {
	background-color: #fff;
	color: #222;
}

.nav > li > a:hover {
	background-color: #fff;
}

.subnav .nav > .active > a,
.subnav .nav > .active > a:hover {
	padding-left: 13px;
	color: #222;
	background-color: none;
	border-right-color: none;
	border-left: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.subnav .nav > .active > a .caret,
.subnav .nav > .active > a:hover .caret {
	border-top-color: #777;
}
.subnav .nav > li:first-child > a,
.subnav .nav > li:first-child > a:hover {
	border-left: 0;
	padding-left: 12px;
	-webkit-border-radius: 4px 0 0 4px;
	-moz-border-radius: 4px 0 0 4px;
	border-radius: 4px 0 0 4px;
}
.subnav .nav > li:last-child > a {
	border-right: 0;
}
.subnav .dropdown-menu {
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
}


.subnav .nav > li .active {
	background-color: none;
}


.subnav


/* Quick links
-------------------------------------------------- */
.bs-links {
	margin: 36px 0;
}
.quick-links {
	min-height: 30px;
	margin: 0;
	padding: 5px 20px;
	list-style: none;
	text-align: center;
	overflow: hidden;
}
.quick-links:first-child {
	min-height: 0;
}
.quick-links li {
	display: inline;
	margin: 0 8px;
	color: #999;
}
.quick-links .github-btn,
.quick-links .tweet-btn,
.quick-links .follow-btn {
	position: relative;
	top: 5px;
}


/* Marketing section of Overview
-------------------------------------------------- */
.marketing .row {
	margin-bottom: 9px;
}
.marketing h1 {
	margin: 36px 0 27px;
	font-size: 40px;
	font-weight: 300;
	text-align: center;
}
.marketing h2,
.marketing h3 {
	font-weight: 300;
}
.marketing h2 {
	font-size: 22px;
}
.marketing p {
	margin-right: 10px;
}
.marketing .bs-icon {
	float: left;
	margin: 7px 10px 0 0;
	opacity: .8;
}
.marketing .small-bs-icon {
	float: left;
	margin: 4px 5px 0 0;
}



/* Footer
-------------------------------------------------- */
.footer {
	margin-top: 70px;
	padding: 35px 40px 36px;
	border-top: 1px solid #e5e5e5;
	background-color: #222;

  min-width: 980px;

  color: #fff;
}

.footer p {
	margin-bottom: 0;
	color: #555;
}

.footer .container {
	padding-left: 70px;

}

.footer .container .content-footer-block ul {
  text-decoration: none;
  list-style-type: none;
}

.footer .container .content-footer-block ul li a {
  font-weight: 800;
  line-height: 25px;
  font-size: 14px;
  color: #fff;
}

.footer .container .content-footer-block h1 {
  padding-bottom: 10px;
}

.footer .container .content-footer-block {
  width: 280px;
  float: left;
  font-size: 16px;

  text-align: left;
  padding: 0 10px;
}


.footer .container .content-footer-block .contact-content {
  font-weight: 800;
}

.footer .container .content-footer-block .contact-content span {
  margin-top: 6px; 
}

.footer .content-footer-copyright {
  margin-top: 180px;
  width: 100%;
  height: 20px;

  display: block;
}

.footer .content-footer-copyright p {
	color: #fff;
  font-size: 2px;
  font-weight: 600;

  text-align: right;
  padding-right: 50px;
}

.footer table td {
  padding-bottom: 10px;
  font-size: 14px;
}


.footer .email,
.footer .facebook,
.footer .twitter, 
.footer .quote-mark {
  width: 32px;
  height: 32px;

  padding-right: 10px;

	background-repeat: no-repeat; 
}

.footer .email {
  background-image: url('email.png');
}

.footer .facebook {
  background-image: url('facebook.png');
}

.footer .twitter {
  background-image: url('twitter.png');
}

.footer .quote-mark {
  width: 64px;
  height: 124px;

  margin-top: -12px;

  display: block;
  float: left;

  background-image: url('quote.png');
}

.footer .quote-content {
  font-size: 12px;
}

.footer .quote-content p {
  color: #fff;
}

/* Special grid styles
-------------------------------------------------- */
.show-grid {
	margin-top: 10px;
	margin-bottom: 20px;
}
.show-grid [class*="span"] {
	background-color: #eee;
	text-align: center;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	min-height: 30px;
	line-height: 30px;
}
.show-grid:hover [class*="span"] {
	background: #ddd;
}
.show-grid .show-grid {
	margin-top: 0;
	margin-bottom: 0;
}
.show-grid .show-grid [class*="span"] {
	background-color: #ccc;
}


/* Render mini layout previews
-------------------------------------------------- */
.mini-layout {
	border: 1px solid #ddd;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.075);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.075);
	box-shadow: 0 1px 2px rgba(0,0,0,.075);
}
.mini-layout {
	height: 240px;
	margin-bottom: 20px;
	padding: 9px;
}
.mini-layout div {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.mini-layout .mini-layout-body {
	background-color: #dceaf4;
	margin: 0 auto;
	width: 70%;
	height: 240px;
}
.mini-layout.fluid .mini-layout-sidebar,
.mini-layout.fluid .mini-layout-header,
.mini-layout.fluid .mini-layout-body {
	float: left;
}
.mini-layout.fluid .mini-layout-sidebar {
	background-color: #bbd8e9;
	width: 20%;
	height: 240px;
}
.mini-layout.fluid .mini-layout-body {
	width: 77.5%;
	margin-left: 2.5%;
}


/* Popover docs
-------------------------------------------------- */
.popover-well {
	min-height: 160px;
}
.popover-well .popover {
	display: block;
}
.popover-well .popover-wrapper {
	width: 50%;
	height: 160px;
	float: left;
	margin-left: 55px;
	position: relative;
}
.popover-well .popover-menu-wrapper {
	height: 80px;
}
.large-bird {
	margin: 5px 0 0 310px;
	opacity: .1;
}


/* Download page
-------------------------------------------------- */
.download .page-header {
	margin-top: 36px;
}
.page-header .toggle-all {
	margin-top: 5px;
}

/* Space out h3s when following a section */
.download h3 {
	margin-bottom: 5px;
}
.download-builder input + h3,
.download-builder .checkbox + h3 {
	margin-top: 9px;
}

/* Fields for variables */
.download-builder input[type=text] {
	margin-bottom: 9px;
	font-family: Menlo, Monaco, "Courier New", monospace;
	font-size: 12px;
	color: #d14;
}
.download-builder input[type=text]:focus {
	background-color: #fff;
}

/* Custom, larger checkbox labels */
.download .checkbox {
	padding: 6px 10px 6px 25px;
	color: #555;
	background-color: #f9f9f9;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	cursor: pointer;
}
.download .checkbox:hover {
	color: #222;
	background-color: #f5f5f5;
}
.download .checkbox small {
	font-size: 12px;
	color: #777;
}

/* Variables section */
#variables label {
	margin-bottom: 0;
}

/* Giant download button */
.download-btn {
	margin: 36px 0 108px;
}
#download p,
#download h4 {
	max-width: 50%;
	margin: 0 auto;
	color: #999;
	text-align: center;
}
#download h4 {
	margin-bottom: 0;
}
#download p {
	margin-bottom: 18px;
}
.download-btn .btn {
	display: block;
	width: auto;
	padding: 19px 24px;
	margin-bottom: 27px;
	font-size: 30px;
	line-height: 1;
	text-align: center;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}



/* Color swatches on LESS docs page
-------------------------------------------------- */
/* Sets the width of the td */
.swatch-col {
	width: 30px;
}
/* Le swatch */
.swatch {
	display: inline-block;
	width: 30px;
	height: 20px;
	margin: -6px 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
/* For white swatches, give a border */
.swatch-bordered {
	width: 28px;
	height: 18px;
	border: 1px solid #eee;
}


/* Misc
-------------------------------------------------- */

/* Make tables spaced out a bit more */
h2 + table,
h3 + table,
h4 + table,
h2 + .row {
	margin-top: 5px;
}

/* Example sites showcase */
.example-sites img {
	max-width: 100%;
	margin: 0 auto;
}
.marketing-byline {
	margin: -18px 0 27px;
	font-size: 18px;
	font-weight: 300;
	line-height: 24px;
	color: #999;
	text-align: center;
}

.scrollspy-example {
	height: 200px;
	overflow: auto;
	position: relative;
}

/* Remove bottom margin on example forms in wells */
form.well {
	padding: 14px;
}

/* Tighten up spacing */
.well hr {
	margin: 18px 0;
}

/* Fake the :focus state to demo it */
.focused {
	border-color: rgba(82,168,236,.8);
	-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,.1), 0 0 8px rgba(82,168,236,.6);
	-moz-box-shadow: inset 0 1px 3px rgba(0,0,0,.1), 0 0 8px rgba(82,168,236,.6);
	box-shadow: inset 0 1px 3px rgba(0,0,0,.1), 0 0 8px rgba(82,168,236,.6);
	outline: 0;
}

/* For input sizes, make them display block */
.docs-input-sizes select,
.docs-input-sizes input[type=text] {
	display: block;
	margin-bottom: 9px;
}

/* Icons
------------------------- */
.the-icons {
	margin-left: 0;
	list-style: none;
}
.the-icons i:hover {
	background-color: rgba(255,0,0,.25);
}

/* Eaxmples page
------------------------- */
.bootstrap-examples .thumbnail {
	margin-bottom: 9px;
	background-color: #fff;
}

/* Responsive table
------------------------- */
.responsive-utilities th small {
	display: block;
	font-weight: normal;
	color: #999;
}
.responsive-utilities tbody th {
	font-weight: normal;
}
.responsive-utilities td {
	text-align: center;
}
.responsive-utilities td.is-visible {
	color: #468847;
	background-color: #dff0d8 !important;
}
.responsive-utilities td.is-hidden {
	color: #ccc;
	background-color: #f9f9f9 !important;
}

/* Responsive tests
------------------------- */
.responsive-utilities-test {
	margin-top: 5px;
	margin-left: 0;
	list-style: none;
	overflow: hidden; /* clear floats */
}
.responsive-utilities-test li {
	position: relative;
	float: left;
	width: 25%;
	height: 43px;
	font-size: 14px;
	font-weight: bold;
	line-height: 43px;
	color: #999;
	text-align: center;
	border: 1px solid #ddd;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.responsive-utilities-test li + li {
	margin-left: 10px;
}
.responsive-utilities-test span {
	position: absolute;
	top:    -1px;
	left:   -1px;
	right:  -1px;
	bottom: -1px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.responsive-utilities-test span {
	color: #468847;
	background-color: #dff0d8;
	border: 1px solid #d6e9c6;
}


.jumbotron {
	margin-top: -40px;
	margin-bottom: -40px;
	height: 240px;
  min-width: 768px;
}

.header-content {
	padding-top: 70px;
}

.navbar-inner {
	height: 65px;
	background-image: none;
	background-color: #fff;
	box-shadow: none;

  border-top: solid 5px #222;
  border-bottom: solid 1px #eee;

}

.navbar .nav {
	float: right;
	margin: 10pt 10pt 0 0;
	font-size: 17px;
}

.navbar .nav .active > a,
.navbar .nav .active > a:hover {
	color: #ffffff;
	text-decoration: none;
	background-color: #222;
}

.nav-pills .active > a, 
.nav-pills .active > a:hover {
    background-color: #fff;
}

.nav-pills .active > a {
    color: #eee;
}

.nav-pills .active > a:hover {
    color: #222;
}

.navbar .nav .submit > a,
.navbar .nav .submit-back > a {
	color: #fff;
	text-decoration: none;
	background-color: rgb(220, 70, 74);
	border-radius: 2px;
	margin-right: 15px;
	padding-left: 20px;
	padding-top: 10px;
	font-size: 15px;

	font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue";
}

.navbar .nav .submit > a:hover {
	color: #fff;
	background-color: #ff6666;
}

.navbar .nav .submit-back > a {
  background-color: #e5e5e5;
}

.navbar .nav .submit-back > a:hover {
  background-color: #222;
  color: #fff;
}


.navbar .nav > li > a {
	text-shadow: none;
	padding-right: 20px;

	font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue";
	font-stretch: condensed;
	font-size: 15px;

}

.navbar .nav > li > a:hover {
	color: #222;
}

.stats {
	width: 600px;
	height: 120px;

	float: left;
	margin-left: 20px;
	margin-top: 10px;
	margin-bottom: 20px;

}

.stat-container {
	width: 120px;
	height: 120px;

	float: left;

	margin:5px 10px;
}

.stat-item {
	width: 100%;
	height: 25px;
	text-align: center;

	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 500;
	font-size: 15px;
	color: #222;

	border-bottom: 1px solid #ddd;
}

.stat-value {
	width: 100%;
	height: 70px;

	margin-top: 25px;
	text-align: center;

	font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue";
	font-weight: bold;
	font-stretch: condensed;

	font-size: 50px;
}

.stat-value-small {
	width: 100%;
	height: 70px;

	margin-top: 25px;
	text-align: center;
	font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue";

	font-weight: bold;
	font-stretch: condensed;

	font-size: 30px;
}


.page-header {
	border-bottom: none;
}

.page-header h1 {
	font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue";
	font-weight: bold;
	font-stretch: condensed;

}


.page-header h1 small {
	font-family: Helvetica;
}

.row {
	margin-bottom: 40px;
	#margin-top: -120px;

}

.summary {
	width: 450px;
	height: 100px;

	float: left;
	margin-left: 20px;
}

.footer {
	height: 120px;
	padding-bottom: 50px;
}

.loginbox,
.signupbox {
	width: 800px;

  padding: 30px 0;
  padding-bottom: 10px;
	margin: 50px auto;
  margin-bottom: 20px;
	border-top: 0px solid #eee;
	border-bottom: 0px solid #eee;;

	background-color: #fff;

  text-align: center;
}


.loginbox-header {
	width: 600px;
	height: 50px;

  margin: 0 auto;
}

.loginbox-header h1 {
	font-weight: bold;
  font-size: 45px;
  letter-spacing: -2px;
}

.loginbox-signup {
	width: 300px;
	height: 25px;

	font-size: 13px;
	font-weight: 400;
	color: #999;

	margin: 20px auto;
  margin-top: 35px;
}

.input-large {
	height: 30px;
	width: 290px;
}

.input-xlarge {
  height: 30px;
  width: 350px;
  margin: 10px 0;
}

.form-inline {
	margin: 20px auto;
	width: 700px;
}

.submit-btn,
.submit-btn-large,
.submit-btn-signup,
.submit-btn-cancel {
	width: 80px;
	height: 40px;

	color: #fff;
	font-weight: 800;
	font-size: 16px;
	
	padding: 11px 14px;

	border-radius: 2px;
	background-color: rgb(220, 70, 74);
	border: none;
	margin-left: 5px;
}

.submit-btn:hover,
.submit-btn-large:hover,
.submit-btn-signup:hover,
.submit-btn-cancel:hover {
  background-color: #ff5555;
  color: #fff;
}

.submit-btn-cancel {
  background-color: #e5e5e5;
}

.submit-btn-cancel:hover {
  background-color: #222;
}

.submit-btn-large {
	margin-top: 30px;
	width: 320px;
	height: 60px;
	
	padding: 16px 16px;

	font-size: 22px;
}

.submit-btn-signup {
  margin: 0 auto;
  margin-top: 30px;
}


.dashboard {
	margin-top: -70px;
	margin-bottom: 80px;

  min-height: 100px;
}

.dashboard h1 {
	font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue";
	font-weight: bold;
	font-stretch: condensed;
	margin-bottom: 40px;
}

.dashboard h1 small {
	font-family: Helvetica;
	font-stretch: none;
}


.dashboard th {
	font-size: 18px;
}

.dashboard th.headerSortDown, 
.dashboard th.headerSortUp { 
	background-image: url('desc.gif'); 
	background-repeat: no-repeat; 
	background-position: center right; 
}

.dashboard th.headerSortUp { 
	background-image: url('asc.gif'); 
}

.dashboard td a {
	font-weight: 800;
	font-size: 15px;
	color: rgb(220, 70, 74);
}


.dashboard .work-time,
.dashboard .work-progress {
	font-weight: 600;
	font-size: 20px;
}

.dashboard .work-time small, 
.dashboard .work-progress small {
	font-weight: 600;
	font-size: 14px;

	position: absolute;

	margin-left: 2px;
	margin-top: 1px; 
}

.dashboard .work-ended {
	font-size: 15px;
	color: #777
}

.dashboard .work-time-na, 
.dashboard .work-progress-na {
	color: #eee;
}

.dashboard .work-status {
	font-weight: 600;
	font-size: 16px;
}

.dashboard .work-saved {
	color: #0092b2;
}

.dashboard .work-submitted {
	color: #ffca3d;
}

.dashboard .work-running {
	color: #00B251;
}

.dashboard .work-rejected {
	color: rgb(255, 82, 125);
}

.dashboard .work-failed {
	color: #B72644;
}

.dashboard .work-cancelled {
	color: #9B15B2;
}

.dashboard .work-successful {
	color: #AEEE00;
}

#dashboard-works {
	margin-left: 20px;
}

.empty-pane,
.empty-pane-main {
  width: 100%;
  height: 200px;

  text-align: center;
  color: #aaa;
}

.empty-pane p {
  margin-top: 25%;
  font-weight: 700;

  line-height: 30px;

  font-size: 20px;
}

.empty-pane-main p {
  margin-top: 5%;
  margin-bottom: 100px;
  font-weight: 700;

  line-height: 30px;

  font-size: 20px;
}

/** 
*   Work Submission 
***********************/
.submit-work {
	margin-top: 80px;
	margin-bottom: 100px;
	margin-left: 20px;

	width: 900px;	
}

.submit-work table {
	margin-bottom: -30px;
	margin-left: -50px;
	margin-top: 40px;
}

.submit-work table thead th h2
{
	float: left;
	margin-bottom: 20px;
}

.submit-work table tbody td label
{
	font-weight: 600;
	font-size: 15px;
	margin-bottom: 8px;
}

.submit-work table tbody td .worksummary
{
	height: 100px;
	margin-bottom: 8px;
}

.submit-work table tbody td .workdetail
{
	height: 200px;
	margin-bottom: 8px;
}

.submit-work table tbody td
{
	padding-bottom: 20px;
}

.submit-work table tbody td p
{
	margin: 15px 12px 0;
}


.submit-container {
	width: 100%;
	height: 50px;
}

.submit-work-name {
	height: 100px;
	width: 100%;


	border: none;
	border-bottom: 1px dotted #ccc;
	margin: 0 auto;
	text-align: center;
	font-size: 60px;

	border-radius: 0px;
	box-shadow: none;

}

.submit-work-name:focus {
	box-shadow: none;
	color: #222;

}

.form-field {
	width: 620px;
}

.form-info {
	width: 300px;
}

.form-info-row {
	color: #222;
}

#form-duration-options {
	width: 600px;
	margin-top: 25px;
}

#form-duration-options .item {	
	width: 120px;
	height: 80px;

	font-size: 35px;
	text-align: center;

	display: inline;
	list-style-type: none;
	padding: 0 20px;

	font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue";
	font-stretch: condensed;

	float: left;
}

#form-duration-options .item input {
	margin-top: 18px;
}

.form-keepsake-option {
	width: 600px;
	height: 200px;

	margin: 5px 5px 0;
	margin-bottom: 15px;
}

table tbody tr td .sub-text {
	color: #555;
	margin-left: 320px;
	margin-top: -4px;
}

.span6-5 {
	width: 495px;
}

.form-keepsake-option .name,
.form-keepsake-option .contribution {
	float: left;
}

.form-keepsake-option .quantity {
	margin-top: -0px;
	margin-left: 200px;
	width: 300px;
}

.form-keepsake-option .summary {
	margin-top: -68px;
	margin-left: 200px;
}

.form-keepsake-option .keepsakedescription {
	height: 60px;
	width: 300px;
}

.form-keepsake-option h3 {
	margin-bottom: 5px;
}

.form-keepsake-option label {
	font-size: 5px;
}

.form-keepsake-option textarea {
	width: 200px;
	height: 30px;
}

.form-media input {
	margin-left: 10px;
}

.form-media #fileInputMain {
	margin-left: 20px;
}

.form-media .rendering-image {
	margin-left: 20px;
}

.form-submit-button,
.form-submit-update-button {
	width: 300px;
	margin: 10px auto;
  margin-left: 220px;
}

.form-submit-update-button {
	padding-top: 60px;
}

.selected-keepsake {
	width: 100%;

	text-align: right;
	font-weight: 800;
	font-size: 20px;
}

.selected-keepsake .item {
	color: rgb(220, 70, 74);
}

.selected-keepsake-input {
	visibility: hidden;
}

.work-name-location,
.work-stats {
	height: 200px;
	float: left;
	
	width: 100%;
	
	position: absolute;
	
	margin-top: 50px;
}


.work-name-location {
  width: 500px;
}

.work-name-location p {
	font-size: 18px;
}

.work-stats {
	width: 300px;
	float: right;
	position: relative;
}



.work-stat-value {
	font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue";
	font-stretch: condensed;
	
	font-size: 50px;
	
	width: 100%;
	height: 30px;
	
	margin-bottom: 5px;
	
	text-align: right;

  color: rgb(220, 70, 74);

}

.work-stat-item {
	width: 100%;
	height: 10px;
	
	margin-bottom: 35px;
	
	text-align: right;
  font-size: 20px;
}

 

.work-section-top,
.work-section-keepsakes,
.work-section-bottom,
.work-section {
	width: 750px;	
	margin-top: 70px;
	margin-bottom: -40px;
	text-align: left;
}

.work-section-top .row,
.work-section-keepsakes .row,
.work-section-bottom .row,
.work-section .row {
	width: 820px;
	margin-left: 70px;

	padding-bottom: 50px;
	border-bottom: 1px dotted #aaa;
}

.work-section-bottom .row {
	width: 820px;
	border-bottom: none;
}

.work-section-top .row .separator,
.work-section .row .separator {
	width: 300px;
	height: 1px;

	margin: 0 auto;
	padding-top: 60px;

	border-bottom: 1px solid #222;
}

.work-section-top p,
.work-section-keepsakes p,
.work-section p {
  font-size: 14px;
  line-height: 150%;

  color: #555;

  padding: 10px;
}

.work-section-top h1,
.work-section h1 {
	margin-bottom: 20px;
	margin-top: 30px;
	margin-left: 5px;
}

.work-section {
	margin-top:50px;
}


.media-container,
.neighborhood-container,
.artist-container {
	width: 500px;
	height: 375px;

	padding: 5px;
  padding-bottom: 40px; 
	
  margin-right:20px;
	margin-bottom: 15px;

	float: left;	
}

.neighborhood-container {
  height: 375px;
  padding-bottom: 5px;
}

.media-container .nav-pills {
  padding-top: 5px;
}

.media-container .nav-pills > li > a {
  border-radius: 0px;
  color: #222;
  font-weight: 800;
}

.media-container .nav-pills > li > a:hover {
  background: #222;
  color: #fff;
}

.media-container .nav-pills .active > a {
  color: #fff;
  font-weight: 800;
	background-color: #222;
}

.media-container .carousel-control {
	margin-top: 4%;
}

.artist-container {
	width: 300px;
	height: 370px;	
}

.artist-container .profile-image {
	width: 100%;
	margin: 0 auto;
	margin-bottom: 20px;
}

.artist-container .artist-info {
	width: 90%;
	margin: 0 auto;
	text-align: center;
}

.work-section .keepsake,
.work-section-bottom .keepsake {
	width: 240px;
	height: 200px;
		
	float: left;
	
	text-align: center;
	
	margin: 0 10px;
	padding-bottom: 80px;
	padding-top: 50px;
	
}

.work-section .keepsake .keepsake-contribution,
.work-section-bottom .keepsake .keepsake-contribution  {
	margin: 0 auto;
	text-align: center;
}

.work-section .keepsake .keepsake-contribution,
.work-section-bottom .keepsake .keepsake-contribution  {
	margin: 10px 0;
}

.work-section .update-column {
	width: 100%;
}

.work-section table tbody tr {
	padding: 10px 0;
}


.container > .container-background {
  border-bottom: solid 1px #eee;
}

.container > .container-footer {
  width: 800px;
}


.container-background,
.container-background-home,
.container-background-dashboard {
  background-image: url('diagonal_stripes.png');
  margin-top: -100px;
  height: 350px;

  padding: 36px 40px 32px;

  min-width: 980px;
}

.container-background-home {
  height: 200px;
}

.container-background-home .works-header {
	text-align:center;
}

.container-background-dashboard {
  height: 200px;
}

.container-background-dashboard .header-content {
  padding-top: 55px;
}

.container-background .works-header,
.container-background-dashboard .works-header,
.container-background-home .works-header {
  width: 800px;
  height: 600px;
  margin:0 auto;

  padding-top: 40px;
  margin-top: 30px;
}

.container-background .work-header-content {
  width: 800px;
  height: 100px;
  margin: 0 auto;

  padding-top: 100px;  
}

.container-share {
	position: fixed;

	width: 50px;
	height: 80px;
	margin-top: 30px;

	background-color: #222;
	text-align: center;
}

.container-share img {
	padding-top: 5px;
}

#work-menu {
	width: 700px;
	margin: 0 auto;
	margin-bottom: 40px;

}

.container-content,
.container-content-dashboard {
  width: 800px;
  margin: 0px auto;
}

.container-content {
	width: 800px;
	padding-left: 70px;
}


.container-content-dashboard {
	margin-top: 100px;
}

.container-content .featured-work {
	color: #fff;
	background-color: #222;

	width: 100%;
	padding: 5px 0 5px 20px;
	margin-left: -30px;
}


.dashboard-alerts 
{
	padding-top: 20px;
}

.container-signup,
.container-login {
  margin: 0 auto;
  width: 450px;

  text-align:center;
}

.container-login {
  width: 700px;
  margin-left:20px;
}

.login-box {
  height: 400px;
}

.error_messages {
  list-style: none;
}


.error_explanation{
 	margin-bottom: -60px;
  margin-left: -30px;
  margin-top: 90px;
  width: 800px;
}

.error_explanation .alert-error {
  margin: 0 auto;
}

.error-page {
	text-align: center;
}

.error-page img {
	width: 600px;
	height: 600px;
}

.error-page .error-text {
	padding-top: 20px;
	padding-bottom: 10px;

	text-align: center;
}

.alert-block {
  margin: 0 auto;
  margin-bottom: 30px;
}

.forgotten-login {
  float: right;
  margin-right: 100px;
}

.signupbox ul {  
  list-style: none;
}

.container-patronize {
  width: 720px;
  margin: 0 auto;

}

.container-patronize .info-text {
	font-size: 14px;
	padding-left:5px;

	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.container-patronize h1 {
  font-size: 60px;
  margin-bottom: 20px;

	font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue";
	font-stretch: condensed;
}

.container-patronize p {
	margin-bottom: 20px;
	width: 500px;
}

.container-patronize .reward-select-section {
	padding-top: 40px;
}

.container-patronize .reward-select-section p {
	font-size: 13px;
}

.container-patronize table thead {
	background-color: #222;
	color: #fff;
}

.container-patronize table tbody .available,
.container-patronize table tbody .contribution {
	text-align:center;
	font-weight:800;
}

.container-patronize table tbody .contribution {
		font-size: 20px;
}

.container-patronize table tbody .available-qty {
	color: #00B251;
}

.container-patronize table tbody tr td .selected {
	background: url('check.png') no-repeat center;
	width: 25px;
	height: 21px;
}

.container-patronize .error-explanation {
	margin: 0 auto;
}

.additional-values {
  padding: 20px 0;
}

.additional-values .input-prepend .add-on {
  background-color: #222;
  color: #FFFFFF;

  font-size: 30px;
  font-weight: 800;

  height: 25px;
  margin-top: 0;
  padding-bottom: 21px;
  padding-top: 24px;
  width: 80px;
}

.total-contribution {
  width: 100%;
  height: 100px;
  padding-top: 60px;

  text-align: center;
  color: #222;
  font-size: 50px;
  font-weight: 800;
}

.total-contribution p {
  padding-left: 120px;
}

.personal-details,
.address-details, 
.credit-card-details {
  padding:50px 0;
  float: left;
}

.personal-details h3 {
  margin-bottom: 20px;
}

.personal-details .alert,
.address-details .alert , 
.credit-card-details .alert,
.additional-values .alert {
	width: 400px;
}

.credit-card-field {
  padding: 5px;
  float: left;
}

.submission-actions {
  height: 100px;
  width: 100%;

  border-top: 1px dotted #e5e5e5;
  padding-top: 30px;
  float: left;
}

.address-details {
  width: 660px;
}

.address-field {
  padding-right: 20px;
  float: left;
  
  text-align: left;
}

.address-field-large {
  width: 100%;
  float: left;
}

.submission-actions .submit-btn-cancel {
  text-decoration: none;
}

.submission-actions input {
  margin-top: -10px;
}

#confirm-contribution {
	  float: right;
    height: 20px;
    margin-top: -12px;
    padding-left: 20px;
    text-decoration: none;
    width: 240px;
}

.counter {
  background-color: #222;
  padding: 8px 10px;
  color: #fff;

  float: right;
  margin-right: 80px;
}

.submit-work table tbody td .label-small {
  font-size: 12px;
}

.error-field {
  float: right;
	background-color: rgb(220, 70, 74);
  padding: 3px 8px;
  color: #fff;
  font-weight: 500;
  margin-left: 10px;
}

.field-errors {
  padding-right: 80px;
  float: right;
  margin-top: -1px;
}

.alert-heading {
  font-size: 50px;
  color: rgb(220, 70, 74);
  padding-top: 40px;
}
.alert-heading small {
  font-size: 28px;
  color: rgb(220, 70, 74);
}

.confirmation-container {
  padding: 40px 0;
  text-align: center;
  min-height: 400px;
}

.confirmation-header {
  font-size: 60px;
}

.confirmation-body {
  padding: 50px 0; 
}


.confirmation-container a {
  margin-top: 70px;
  text-decoration: none
} 

.confirmation-body .info {
  margin-top: 50px;
  padding: 10px 0;
  font-size: 18px;
  
  color: #aaa;
  letter-spacing: 0px;
}

.confirmation-body h1 {
  color: rgb(51,51,51);
  font-size: 70px; 
  letter-spacing: -4px;
  line-height: 90px;
}

#showcased {
	padding-left: 10px;
}

#showcased a {
	color: rgb(220, 70, 74);
	text-decoration: none;
}

#showcased h1 {
	font-size: 50px;
}

#showcase .row {
	margin-bottom: 20px;
}

.carousel {
	width: 500px;
	margin-left: 0px;
}

.carousel .item > img {
	margin: auto;
	height: 375px;
}

.update-header {
	width: 100%;
	padding-bottom: 20px;
}

.update-header p {
	padding-top: 10px;
}

.beta-desc {
 margin:0 auto;
 width: 500px;
 padding:20px 0;
}

.new_beta_user {
  margin:0 auto;
}

.tab-content {
  margin-top: -10px;
}

.input-prepend.input-append .add-on:first-child, 
.input-prepend.input-append .btn:first-child {
  margin-top: 1px;
}

.container-policy {
	padding-top: 50px;
}

.container-policy .row,
.container-policy .row-section {
	width: 768px;
	margin: 0 auto;

	color: #555;
	font-size: 14px;	

	padding: 20px 0;
}

.container-policy .row-section	{
	padding-bottom: 40px;
}

.container-policy .row p {
	padding: 10px 0;
}

.container-policy .row-section p {
	padding-bottom: 5px;
}

.container-policy h1 {
	padding-bottom: 30px;
}

#work-name {
	margin-left: 150px;
}

#new_patron {
	margin: 0 auto;
	margin-left: -30px;
}

.modal {
	border-radius: 0px 0px 0px 0px
}

.modal .modal-header {
	background-color: #222;
	color: #fff;
}

.modal .modal-body p {
	font-size: 14px;
}

.modal .modal-body h1 {
	font-size: 40px;
	padding-bottom: 20px
}

.modal .modal-footer {
	padding: 20px;
}

.modal .modal-footer a {
	text-decoration: none;
}

.modal .modal-footer .submit-btn-cancel  {
	margin-left: -200px;
}

.breakdown {
	width: 360px;
	margin: 0 auto;

	padding-top: 10px;
	text-align: center;
}

.breakdown {
	padding-bottom: 20px;
}

.modal .total {
	height: 35px;
	width: 360px;

	margin-top: 140px;
	padding-top: 30px;
	padding-bottom: 20px;

	background-color: #222;
	color: #fff;

	text-align: center;
	font-size: 40px;
	font-weight: 800;
}

.breakdown .item {
	height: 80px;
	width: 100px;
	float:left;
	
	margin-top: 20px;
	padding: 30px 20px 10px;
	text-align: center;
}

.breakdown .item .value {
	width: 100%;
	height: 40px;

	font-weight: 800;
	font-size: 35px;
}

.breakdown .item .desc {
	width: 100%;
	height: 60px;
	font-size: 14px;
	font-weight: 800;
}

.breakdown .symbol {
	width: 60px;
	height: 120px;

	float: left;
}

.breakdown .symbol p {
	padding-top: 40px;
	font-size: 80px;
	font-weight: 800;
}

.modal-body .note {
	padding-top: 10px;
	font-weight: 800;
}

.modal-body .policy p {
	padding-top: 35px;
	font-size: 9px;
}

#patronage-invalid-fields .modal-body {
	text-align: center;
}

#patronage-invalid-fields .modal-body .invalid-fields {
	width: 400px;
	margin: 0 auto;
}

#additional-contribution {
  font-size: 50px;
  height: 60px;

  font-weight: 600;
  color: #222;
  text-align: center;
}

#status-required,
#status-optional {
  padding-left: 20px;

  font-size: 15px;
  font-weight: 800;
	color: rgb(220, 70, 74);
}

#status-optional {
  color: #888;
}

