.submit-container#basic

%table
  %thead
    %tr
      %th.form-field
        %h2 Work Details
      %th.form-info

  %tbody
    -# Work Title
    %tr
      %td
        .field-errors
          = display_errors(@work, :name)
        = w.label :name, "Work Title"
        = w.text_field :name, :class => "span7"

      %td.form-info-row
        %p 
          Try to give your work a catchy or unique name so that 
          everyone can easily identify it.

    -# Work Summary
    %tr
      %td
        .field-errors
          = display_errors(@work, :summary)
        = w.label :summary, "Work Summary"
        = w.text_area :summary, :class => "worksummary span7", :maxlength => 300
        %div
          %span{:id => "char-count-summary", :class => "counter counter_label"}

      %td.form-info-row
        %p 
          Briefly describe your Work in a sentence or two. 
          This short description will be used on the homepage and 
          other parts of the site. This will appear alongside your Work's main image.

    -# Work Location
    = field_set_tag do
      - w.fields_for :location do |l|
        -# Neighborhood
        %tr
          %td
            .field-errors
              = display_errors(@work, 'location.neighborhood')
            = l.label :neighborhood, "Neighborhood"
            = l.text_field :neighborhood, :class => "span7"
          %td.form-info-row
            %p
              Neighborhood boundaries are always changing, so we want to give you an opportunity to properly name this location's neighborhood.

        -# City
        %tr
          %td
            .field-errors
              = display_errors(@work, 'location.city')
            = l.label :city, "City"
            = l.text_field :city, :class => "span7"
          %td.form-info-row
            %p
              Please enter the city where the neighborhood is located.

        -# Address / Geolocation
        %tr
          %td
            .field-errors
              = display_errors(@work, 'location.address')
            = l.label :location_data, "Complete Location Address or Geolocation"
            = l.text_field :location_data, :class => "span7", :value => @work.location.address
          %td.form-info-row
            %p<
              Your Work must have an address or geo-coordinates. 
              If you need help finding geo-coordinates, check out 
              this 
              %a{:src => "http://universimmedia.pagesperso-orange.fr/geo/loc.htm"} tutorial . 
              You can check the location's accuracy on the map below the field.



