#creator.submit-container
%table
  %thead
    %tr
      %th.form-field
        %h2 Creator Information
      %th.form-info
  %tbody
    %tr
      %td
        = field_set_tag do
          - w.fields_for :creator do |c|
            .field-errors
              = display_errors(@work, 'creator.name')
            = c.label :name, "Creator Name"
            = c.text_field :name, :class => "span7", :placeholder => "Your Name"
      %td.form-info-row
        %p
          Just your name! Or, if you are representing
          an organization, put their name here.
    %tr
      %td
        = field_set_tag do
          - w.fields_for :creator do |c|
            .field-errors
              = display_errors(@work, 'creator.profile_image')
            = c.label :profile_image, "Creator Profile Image"
            = c.file_field :profile_image, :class => "span7 keepsake-input-image", :size => "50", :id => "fileInputMain"
      %td.form-info
        %p
          We want to give Patrons a full understanding of the
          creator behind the Work, and an image will help!
    %tr
      %td
        = field_set_tag do
          - w.fields_for :creator do |c|
            .field-errors
              = display_errors(@work, 'creator.bio')
            = c.label :bio, "Creator Bio"
            = c.text_area :bio, :class => "span7 worksummary",                                  |
              :placeholder => "Tell us something about yourself and how you are related to the work", |
              :maxlength => 10000                                                                      |
            %div
              %span#char-count-creator-bio.counter.counter_label
      %td.form-info-row
        %p
          Remember that Patrons aren't only funding your idea,
          but they are backing you to make it a reality. Give
          them some solid reasons why this Work and improving
          this neighborhood are important to you.
        %p
          Also tell them why you are the right person for
          this Work and some of your backstory. Make it as
          personal as you can, and it will go a long way.
    %tr
      %td
        = field_set_tag do
          - w.fields_for :creator do |c|
            .field-errors
              = display_errors(@work, 'creator.email')
            = c.label :creator, "Contact Email"
            = c.text_field :email, :class => "span7", |
              :placeholder => "you@youremail.com"           |
      %td.form-info-row
        %p
          Include an email you're willing to share for Patrons to contact you.
    %tr
      %td
        = field_set_tag do
          - w.fields_for :creator do |c|
            .field-errors
              = display_errors(@work, 'creator.website')
            = c.label :website, "Related Link or Website"
            = c.text_field :website, :class => "span7",         |
              :placeholder => "http://www.yourpersonalsiteorblog.com" |
      %td.form-info-row
        %p
          If you have an official website for your Work,
          or another related link, paste it here for
          Patrons to visit.