#fundingcampaign.submit-container
%table
  %thead
    %tr
      %th.form-field
        %h2 Funding & Campaign Information
      %th.form-info
  %tbody
    %tr
      %td
        .field-errors
          = display_errors(@work, :funding_goal)
        = w.label :funding_goal, "Target Funding Goal"
        .input-prepend.input-append
          %span.add-on $
          = w.number_field :funding_goal, :class => "span6-5", :id => "prependedInput" 
        %p.sub-text
          %b 
            %span#net_funding
      %td.form-info-row
        %p
          This is the amount of funding your Work will need to
          raise to be successful. You will only receive funds if the
          campaign reaches this level or more at the end.
        %p
          Please be honest about the amount you need, but remember
          that to cover our costs, we take a 5% fee, and our payment
          processor takes around 4%. We've included a calculator to
          give you a gauge of how much you'll receive at the bottom
          of the field

    %tr
      %td
        = w.label :duration, "Campaign Duration"
        / Add data-toggle="buttons-radio" for radio style toggling on btn-group
        #form-duration-options.controls
          .item
            30 Days#{w.radio_button :duration, "30", :checked => true}
          .item
            45 Days#{w.radio_button :duration, "45", :checked => false}
          .item
            60 Days#{w.radio_button :duration, "60", :checked => false}
      %td.form-info-row
        %p
          How long do you want your campaign to run for?
          We recommend giving your Work 60 days to raise its
          funding, but we've also included options for 30 and 45 days.