#media.submit-container
%table
  %thead
    %tr
      %th.form-field
        %h2 Media
      %th.form-info
  %tbody
    %tr
      %td
        .form-media
          = field_set_tag do
            - w.fields_for :media do |b|
              .field-errors
                = display_errors(@work, 'media.video_url')
              = b.label :video_url, "Vimeo Video URL (Optional)"
              = b.text_field :video_url, :class => "span7"
      %td.form-info-row
        %p
          Record and upload a short video! Please don't be intimidated!
          Even an unedited, one-minute video of your neighborhood and overview
          of your work can help influence Patrons to back your Work.
        %p
          We ask that you upload your video to Vimeo, a free video
          hosting service, and paste the URL here. If you need help,
          check out
          = succeed "." do
            %a{:href => "http://vimeo.com/help/basics", :target => "new"} Vimeo's help section
    %tr
      %td
        .form-media
          %label Images
          = field_set_tag do
            - w.fields_for :media do |b|
              .field-errors
                = display_errors(@work, 'media.main_image')
              = b.label :main_image, "Main Image", :class => "label-small"
              = b.file_field :main_image, :class => "span7 keepsake-input-image", :size => "50", :id => "fileInputMain"
          %h5 Additional Images (Optional)
          = field_set_tag do
            - index = 0
            - w.fields_for :media do |b|
              - b.fields_for :renderings do |r|
                - index += 1
                %b
                  = index
                  \.
                = r.text_field :title, :class => "span5"
                %br/
                = r.file_field :image, :size => "50", :class => "rendering-image"
                %br/
      %td.form-info-row
        %p
          While we don't require a video, we require
          a main image for your Work, and highly recommend providing supplemental
          images. Include renderings you may have, even hand sketched ones, or
          images of the neighborhood.