#projectkeepsakes.submit-container
%table
  %thead
    %tr
      %th.form-field
        %h2 Keepsakes
        %br/
        .field-errors
          - unless @work.errors[:rewards].empty?
            .error-field has some missing information
      %th.form-info
  %tbody
    %tr
      %td
        = field_set_tag do
          - index = 0
          - w.fields_for :rewards do |r|
            .form-keepsake-option
              - if index == 0
                %h3 Bottom-Level Keepsake
              - elsif index == 1
                %h3 Mid-Level Keepsake
              - else
                %h3 Top-Level Keepsake
              - index += 1
              .span3
                .name
                  %label Title
                  = r.text_field :title, :class => "span2"
                .contribution
                  %label Minimum Contribution
                  .input-prepend.input-append
                    %span.add-on $
                    = r.text_field :minimum, :class => "span1"
              .span3
                .quantity
                  %label Quantity Available
                  = r.text_field :quantity, :class => "span4"

                .summary
                  %label Description
                  = r.text_area :description, :class => "span4 keepsakedescription"

      %td.form-info-row
        %p
          This is where you get to offer Patrons a bigger reason
          to fund your Work. Keepsakes incentivize funding at three
          levels, just to keep things simple.
        %p
          You should structure them in increasing order, but the actual
          keepsakes need not be of the same value as the contribution
          amount (you wouldn’t raise any money!). One common
          strategy is to include the lower-tier keepsakes within the
          higher-tier ones, as shown by the placeholder examples.
        %p
          We recommend thinking of keepsakes as opportunities for you
          to reward Patrons with something that reminds them of the
          Work, such as a nicely framed canvas print, an invitation
          to a Launch Party, or even a simple mention on a website or
          a postcard you send to them.
