#projectdetails.submit-container
%table
  %thead
    %tr
      %th.form-field
        %h2 Project Details
      %th.form-info
  %tbody
    %tr
      %td
        %div
          = field_set_tag do
            - w.fields_for :detail do |b|
              .field-errors
                = display_errors(@work, 'detail.description')
              = b.label :description, "Work Description"
              = b.text_area :description, :class => "workdetail span7", |
                :maxlength => 10000                                     |
              %div
                %span#char-count-detail-description.counter.counter_label
                
      %td.form-info-row
        %p
          Let's dive deeper. Describe your Work in detail, and
          share as much information as you can while still being concise.
          Include details on a budget, meetings, permits, and in general
          the process and time needed to complete the Work after you raise
          enough funding.
        %p
          Don't forget to mention the Keepsakes you're offering and how
          they relate to the Work.
    %tr
      %td
        %div
          = field_set_tag do
            - w.fields_for :detail do |b|
              .field-errors
                = display_errors(@work, 'detail.description')
              = b.label :neighborhood_impact, "Neighborhood Impact"
              = b.text_area :neighborhood_impact, :class => "workdetail span7", |
                :maxlength => 10000                                             |
              %div
                %span#char-count-neighborhood-impact.counter.counter_label

      %td.form-info-row
        %p
          Take this opportunity to not only describe the neighborhood
          you are trying to improve, but why this Work specifically will
          improve it. What will residents get out of it, and why should
          they fund it?
        %p
          It is important to remember that sometimes a Work does not reach
          its funding goal because it isn't desired by the neighborhood,
          so here's your opportunity to convince them!
