.subnav
  %ul{:class => "nav nav-pills", :id => "menu"}
    %li
      %a{:href => "#basic"} WORK DETAILS
    %li
      %a{:href => "#fundingcampaign"} FUNDING & CAMPAIGN
    %li
      %a{:href => "#projectdetails"} PROJECT DETAILS
    %li
      %a{:href => "#media"} MEDIA
    %li
      %a{:href => "#projectkeepsakes"} KEEPSAKES
    %li
      %a{:href => "#creator"} CREATOR INFORMATION
    %li
      %a{:href => "#submission"}SUBMIT
