%footer.footer
  .container
    .content-footer-block
      %ul.links
        %li
          = link_to "Log In", login_path
        %li
          = link_to "Blog", login_path
        %li
          = link_to "FAQ", faq_path
        %li
          = link_to "Terms of Use", terms_path
        %li
          = link_to "Privacy Policy", privacy_path


    .content-footer-block
      .contact-content
        %table
          %tr
            %td
              .email
            %td
              team@patronhood.com

          %tr
            %td
              .twitter
            %td
              @patronhood
      
          %tr
            %td
              .facebook
            %td
              facebook.com/patronhood

    .content-footer-block
      .quote-content
        .quote-mark
        %p
          Cities have the capability of providing something for everybody, |
          only because, and only when, they are created by everybody.      |
          %br
          %br
          %b - Jane Jacobs

      
